/* ------------------------------------------------------------------ */
/* O L D - B R O W S E R    J R E J E C T    N O T I F I C A T I O N  */
/* ------------------------------------------------------------------ */
#jr_overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2147483646;
}

#jr_wrap {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 2147483647;
}

#jr_header {
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 5px;
  padding-bottom: 0;
  font: bold 1.3em/1 Helvetica, Arial, sans-serif;
  color: #333;
}

#jr_inner {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  background: #FFF;
  border: 1px solid #CCC;
  color: #4F4F4F;
  font: 400 12px/1 "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#jr_inner p {
  padding: 5px;
  margin: 0;
}

#jr_inner ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

#jr_inner ul li {
  margin: 0 10px 10px 10px;
  padding: 0;
  width: 120px;
  height: 122px;
  float: left;
  text-align: center;
  cursor: pointer;
}

#jr_inner li a {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
}

#jr_inner li a:hover {
  text-decoration: underline;
}

#jr_inner .jr_icon {
  margin: 1px auto;
  padding: 0;
  width: 100px;
  height: 100px;
  background: transparent no-repeat scroll left top;
  cursor: pointer;
}

#jr_close {
  margin: 0;
  padding: 0;
  clear: both;
}

#jr_close a {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  color: #000;
  text-decoration: underline;
}

#jr_close p {
  margin: 0;
  padding: 10px 0 0 0;
}

/* ---------------------------------------- */
/* G E N E R A L    S T Y L E               */
/* ---------------------------------------- */
.ic {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  vertical-align: middle;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.ic:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
}

.ic--arrow-down:before {
  width: 23px;
  height: 33px;
  background: url(../img/sprite.png) -630px -512px no-repeat;
}

.ic--arrow-right:before {
  width: 95px;
  height: 43px;
  background: url(../img/sprite.png) -143px -448px no-repeat;
}

.ic--blueprint:before {
  width: 75px;
  height: 75px;
  background: url(../img/sprite.png) -630px -385px no-repeat;
}

.ic--brainlogo-xs:before {
  width: 30px;
  height: 32px;
  background: url(../img/sprite.png) -630px -470px no-repeat;
}

.ic--brainlogo:before {
  width: 133px;
  height: 32px;
  background: url(../img/sprite.png) -143px -406px no-repeat;
}

.ic--check:before {
  width: 94px;
  height: 96px;
  background: url(../img/sprite.png) 0px -501px no-repeat;
}

.ic--collaboration:before {
  width: 77px;
  height: 85px;
  background: url(../img/sprite.png) -630px -193px no-repeat;
}

.ic--compare:before {
  width: 186px;
  height: 186px;
  background: url(../img/sprite.png) -214px -210px no-repeat;
}

.ic--compared:before {
  width: 204px;
  height: 186px;
  background: url(../img/sprite.png) -416px 0px no-repeat;
}

.ic--deal:before {
  width: 201px;
  height: 187px;
  background: url(../img/sprite.png) -416px -196px no-repeat;
}

.ic--location:before {
  width: 66px;
  height: 87px;
  background: url(../img/sprite.png) -630px -288px no-repeat;
}

.ic--plaza:before {
  width: 133px;
  height: 85px;
  background: url(../img/sprite.png) 0px -406px no-repeat;
}

.ic--premises:before {
  width: 204px;
  height: 186px;
  background: url(../img/sprite.png) 0px -210px no-repeat;
}

.ic--rgb:before {
  width: 92px;
  height: 87px;
  background: url(../img/sprite.png) -104px -501px no-repeat;
}

.ic--search:before {
  width: 200px;
  height: 200px;
  background: url(../img/sprite.png) 0px 0px no-repeat;
}

.ic--share:before {
  width: 85px;
  height: 88px;
  background: url(../img/sprite.png) -630px 0px no-repeat;
}

.ic--shops:before {
  width: 83px;
  height: 85px;
  background: url(../img/sprite.png) -630px -98px no-repeat;
}

.ic--task:before {
  width: 196px;
  height: 196px;
  background: url(../img/sprite.png) -210px 0px no-repeat;
}

.body {
  min-height: 100vh;
}

.flex-grow {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* form */
.text-danger {
  color: #b94a48;
  text-align: left;
}

.form-group.error .form-control {
  border-color: #b94a48;
}

[type=submit]:disabled {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

.btn {
  position: relative;
}

.btn:hover, .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* icons */
.ic--arrow-down:before {
  width: 1.4375rem;
  height: 2.125rem;
  background: url(../img/icons/arrow-down.png) no-repeat;
}

/* btns */
.btn--rounded {
  padding: 0.75rem 3.438rem;
  border: 0.188rem solid #fff;
  -webkit-border-radius: 1.375rem;
          border-radius: 1.375rem;
  font: 700 0.813rem/0.9375rem "Muller", sans-serif;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  text-decoration: none;
}

.btn--rounded:hover, .btn--rounded:focus {
  text-decoration: none;
  background-color: #fff;
  color: #0f5a91;
}

.btn--default {
  padding: 0.875rem;
  width: 100%;
  max-width: 20rem;
  background: #ff5609 -webkit-gradient(linear, left top, right top, from(#ff3200), to(#ff7512)) no-repeat scroll 0 0;
  background: #ff5609 -webkit-linear-gradient(left, #ff3200 0%, #ff7512 100%) no-repeat scroll 0 0;
  background: #ff5609 linear-gradient(to right, #ff3200 0%, #ff7512 100%) no-repeat scroll 0 0;
  border: 0 none;
  -webkit-border-radius: 0;
          border-radius: 0;
  font: 700 0.813rem/0.9375rem "Muller", sans-serif;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  text-decoration: none;
}

.btn--default:hover, .btn--default:focus {
  background: #e62e00;
  color: #fff;
  text-decoration: none;
  -webkit-box-shadow: 0 10px 50px 1px rgba(0, 0, 0, 0.44);
          box-shadow: 0 10px 50px 1px rgba(0, 0, 0, 0.44);
}

.btn__descr {
  display: block;
  padding-top: 0.1875rem;
  font: 400 0.688rem/0.8125rem "Muller", sans-serif;
  opacity: .44;
  text-transform: none;
}

@media only screen and (min-width: 768px) {
  .btn--rounded {
    padding: 1.6875rem 3.483rem;
    -webkit-border-radius: 2.875rem;
            border-radius: 2.875rem;
  }
  .btn--default {
    padding: 1.6875rem 3.483rem;
    -webkit-border-radius: 2.875rem;
            border-radius: 2.875rem;
  }
  .btn__descr {
    padding-top: 0.375rem;
  }
}

@media only screen and (min-width: 1344px) {
  .btn--rounded {
    width: 100%;
    max-width: 27.875rem;
    padding: 2.1875rem 2.25rem;
    font-size: 1.25rem;
    line-height: 1.375rem;
  }
  .btn--default {
    max-width: 27.875rem;
    padding: 2.1875rem 2.25rem;
    font-size: 1.25rem;
    line-height: 1.375rem;
  }
}

/* slick slider */
.slick-dots--inverse li button:before {
  border-color: #fff;
}

.slick-dots--inverse li.slick-active button:before {
  background: #fff;
}

/* ---------------------------------------- */
/* H O M E    P A G E    S T Y L E          */
/* ---------------------------------------- */
.logo {
  text-align: center;
}

.logo__img {
  width: 4.063rem;
  margin: 0 auto;
}

.logo__descr {
  margin: 1.5rem 0 0.4375rem;
  font: 700 1rem/1.1rem "Muller", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.sub-heading {
  margin: 0.75rem 0;
  font: 800 1rem/1.125rem "Muller", sans-serif;
  color: #424242;
  text-transform: uppercase;
  text-align: center;
}

.sub-heading--orange {
  border-bottom: 0.0625rem dashed #f9651e;
  color: #f9651e;
}

@media only screen and (min-width: 768px) {
  .logo__img {
    width: 5rem;
  }
  .logo__descr {
    margin: 3rem 0 0.75rem;
    font-size: 1.875rem;
    line-height: 2rem;
    letter-spacing: 0.1875rem;
  }
  .sub-heading {
    font-size: 1.563rem;
    line-height: 1.6875rem;
  }
}

@media only screen and (min-width: 992px) {
  .logo__descr {
    margin: 2.875rem 0 2.125rem;
    font-size: 2.4375rem;
    line-height: 2.5625rem;
  }
  .sub-heading--orange {
    border-bottom-width: 0.125rem;
  }
}

@media only screen and (min-width: 1344px) {
  .logo__img {
    width: 5.688rem;
  }
  .logo__descr {
    margin: 4.375rem 0 2.625rem;
    font-size: 2.5625rem;
    line-height: 2.6875rem;
    letter-spacing: 0.4375rem;
  }
  .sub-heading {
    font-size: 1.875rem;
    line-height: 2rem;
    letter-spacing: 0.1875rem;
    border-bottom-width: 0.1875rem;
  }
}

/* ------------------------------------------ */
/* S E C T I O N    H E A D E R    S T Y L E  */
/* ------------------------------------------ */
.header {
  padding: 2.25rem 0 0;
  background: #0571b1 url(../img/header-bg.jpg) no-repeat scroll 0 0;
  background-size: cover;
}

.header__btn-group {
  width: 100%;
  text-align: center;
}

.header__btn {
  margin-top: 0.75rem;
}

.header__btn--inverse:hover, .header__btn--inverse:focus {
  -webkit-box-shadow: 0 10px 50px 1px rgba(255, 255, 255, 0.44);
          box-shadow: 0 10px 50px 1px rgba(255, 255, 255, 0.44);
}

.heading {
  font: 500 0.688rem/0.8125rem "Muller", sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.dropdown {
  display: inline-block;
  vertical-align: top;
}

.dropdown__toggle {
  border-bottom: 0.0625rem dashed #fff;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.dropdown__toggle:hover, .dropdown__toggle:focus {
  color: #fff;
  border-bottom: 0.0625rem solid #fff;
  text-decoration: none;
}

.dropdown-menu--right {
  right: 0;
  left: auto;
}

.tenantry {
  padding: 0.875rem 0;
  text-align: center;
}

.tenantry__value {
  display: inline-block;
  vertical-align: top;
  padding: 0 0.375rem;
  font: 200 2.5rem/2.563rem "Muller", sans-serif;
  color: #fff;
}

.tenantry__value--underline {
  border-bottom: 0.0625rem dashed #fff;
}

.tenantry__name {
  padding: 0.3125rem 0;
  font: 500 1.125rem/1.25rem "Muller", sans-serif;
  color: #fff;
  text-align: center;
}

.tenantry__descr {
  font: 400 0.938rem/1.125rem "Muller", sans-serif;
  color: #fff;
  opacity: .8;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 1.625rem 0 1.5rem;
  }
  .header__btn {
    margin: 0.9375rem;
  }
  .heading {
    font-size: 1.25rem;
    line-height: 1.375rem;
    letter-spacing: 0.125rem;
  }
  .dropdown__toggle {
    border-bottom-width: 0.125rem;
  }
  .dropdown__toggle:hover, .dropdown__toggle:focus {
    border-bottom-width: 0.125rem;
  }
  .tenantry {
    padding: 3.25rem 0 1.625rem;
  }
  .tenantry__value--underline {
    border-bottom-width: 0.125rem;
  }
}

@media only screen and (min-width: 992px) {
  .header {
    padding: 2.25rem 0 1.6875rem;
  }
  .heading {
    font-size: 1.8125rem;
    line-height: 1.9375rem;
  }
  .tenantry {
    padding: 3.25rem 0 1.6875rem;
  }
  .tenantry__value {
    font-size: 3.25rem;
    line-height: 3.375rem;
  }
  .tenantry__name {
    padding: 0.625rem 0;
    font-size: 1.5rem;
    line-height: 1.625rem;
  }
  .tenantry__descr {
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
}

@media only screen and (min-width: 1344px) {
  .header {
    padding: 2.25rem 0 2.5rem;
  }
  .header__btn {
    margin: 1rem 1.5rem;
  }
  .heading {
    font-size: 1.875rem;
    line-height: 2rem;
  }
  .tenantry {
    padding: 4.438rem 0 3.625rem;
  }
  .tenantry__value {
    font-size: 4.375rem;
    line-height: 4.5rem;
  }
  .tenantry__name {
    padding: 0.1875rem 0 1rem;
    font-size: 1.8125rem;
    line-height: 1.9375rem;
    letter-spacing: 0.125rem;
  }
  .tenantry__descr {
    font-size: 1.3125rem;
    line-height: 1.4375rem;
    letter-spacing: 0.0625rem;
  }
}

/* ---------------------------------------- */
/* S E C T I O N    W O R K    S T Y L E    */
/* ---------------------------------------- */
.work {
  padding: 1.125rem 0 1.875rem;
  border: 0.063rem solid #e8e8e8;
}

.video {
  margin: 0.75rem 0;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .work {
    padding: 3rem 0;
  }
  .video {
    margin: 1.5rem 0;
  }
}

@media only screen and (min-width: 1344px) {
  .work {
    padding: 3.1875rem 0 3.9375rem;
  }
  .video {
    margin: 2.0625rem 0;
  }
}

/* -------------------------------------------- */
/* S E C T I O N    S E R V I C E    S T Y L E  */
/* -------------------------------------------- */
.service {
  padding: 1.25rem 0 4rem;
  background: #f6f6f6;
}

.slick-dots--service {
  bottom: -2.375rem;
}

.tab__panel {
  display: none;
}

.tab__panel--active {
  display: block;
}

.panel {
  background: #fff;
  -webkit-box-shadow: 0 2.688rem 3.875rem rgba(176, 176, 176, 0.31);
          box-shadow: 0 2.688rem 3.875rem rgba(176, 176, 176, 0.31);
}

.panel__row {
  margin: 0;
}

.panel__item {
  padding: 1.625rem;
}

.panel__heading {
  padding: 1.0625rem 0;
  font: 200 1.125rem/1.25rem "Muller", sans-serif;
  color: #aaa;
  text-align: center;
}

.panel__photo {
  margin: 1rem 0;
  text-align: center;
}

.panel__name {
  font: 200 1.375rem/1.75rem "Muller", sans-serif;
  color: #333;
  text-align: center;
}

.panel__descr {
  font: 200 1.125rem/1.25rem "Muller", sans-serif;
  text-align: center;
}

.tab-control__item {
  text-align: center;
}

.tab-control__link {
  display: inline-block;
  margin: 0.4375rem;
  padding: 1.0625rem 1.438rem;
  min-width: 13.25rem;
  border: 0.063rem dashed #474747;
  -webkit-border-radius: 1.4375rem;
          border-radius: 1.4375rem;
  font: 500 0.875rem/1rem "Muller", sans-serif;
  color: #303030;
  opacity: .6;
  text-decoration: none;
  letter-spacing: 0.125rem;
}

.tab-control__link:hover, .tab-control__link:focus {
  border-color: #0652a0;
  text-decoration: none;
  opacity: .9;
}

.tab-control__link--active {
  min-width: 15rem;
  opacity: 1;
}

.tab-control__link--active:hover, .tab-control__link--active:focus {
  color: #303030;
  border-color: #474747;
}

@media only screen and (min-width: 768px) {
  .service__heading {
    margin-bottom: 2.5rem;
  }
  .tab__panel {
    padding: 3.125rem 0 1.5rem;
    height: 100%;
  }
  .panel {
    display: block;
  }
  .tab-control {
    text-align: center;
  }
  .tab-control__item {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .tab-control__link {
    font-size: 0.938rem;
    line-height: 1.0625rem;
  }
}

@media only screen and (min-width: 992px) {
  .panel__name {
    font-size: 1.063rem;
    line-height: 1.188rem;
  }
  .panel__descr {
    font-size: 1.063rem;
    line-height: 1.188rem;
  }
  .tab-control__link {
    padding: 1.25rem 4.188rem;
    border-width: 0.188rem;
    -webkit-border-radius: 2.063rem;
            border-radius: 2.063rem;
    font-size: 1.063rem;
    line-height: 1.188rem;
  }
}

@media only screen and (min-width: 1344px) {
  .service {
    padding: 4rem 0;
  }
  .panel__name {
    font-size: 1.375rem;
    line-height: 1.5rem;
  }
  .panel__descr {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
  .tab-control__link {
    padding: 1.25rem 5rem;
    font-size: 1.25rem;
    line-height: 1.375rem;
    -webkit-border-radius: 2.063rem;
            border-radius: 2.063rem;
  }
}

/* -------------------------------------------- */
/* S E C T I O N    P R O C E S S    S T Y L E  */
/* -------------------------------------------- */
.process {
  padding: 1rem 0 0;
}

.process__heading {
  margin: 1.25rem 0;
}

.deal__item {
  padding: 1.625rem 0;
}

.deal__photo {
  text-align: center;
}

.deal__name {
  padding: 1.563rem 0 0.5625rem;
  font: 500 1.125rem/1.25rem "Muller", sans-serif;
  color: #282828;
  text-align: center;
}

.deal__descr {
  padding: 0.5625rem 0;
  font: 400 0.75rem/0.875rem "Muller", sans-serif;
  color: #282828;
  text-align: center;
}

.deal__link {
  color: #0652a0;
  text-decoration: underline;
}

.deal__link:hover, .deal__link:focus {
  color: #0873e0;
  text-decoration: underline;
}

.deal__btn-group {
  text-align: center;
}

.step-indicator {
  text-align: center;
}

.step-indicator__item {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0.3125rem;
  font: 700 0.688rem/0.75rem "Muller", sans-serif;
  color: #282828;
  border-bottom: 1px solid rgba(40, 40, 40, 0.44);
  text-transform: uppercase;
}

.step-indicator__item--active {
  opacity: .43;
  border: 0 none;
}

@media only screen and (min-width: 768px) {
  .process {
    padding: 2.1875rem 0 2.938rem;
  }
  .process__heading {
    margin: 0.9375rem 0;
  }
  .deal {
    padding: 1.25rem 0;
  }
  .deal__name {
    font-size: 1.125rem;
    line-height: 2rem;
  }
  .deal__descr {
    font-size: 0.75rem;
    line-height: 0.875rem;
  }
}

@media only screen and (min-width: 992px) {
  .process {
    padding: 3.5rem 0;
  }
  .process__heading {
    padding: 2.5rem 0;
  }
  .deal__item {
    padding: 1.75rem 0;
  }
  .deal__photo {
    position: relative;
  }
  .deal__photo:before {
    content: '';
    position: absolute;
    display: block;
    width: 3.313rem;
    height: 1.5rem;
    right: -5rem;
    top: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background: url(../img/icons/arrow-right.png);
    background-size: contain;
  }
  .deal__photo--none:before {
    content: none;
  }
  .deal__name {
    font-size: 1.25rem;
    line-height: 1.375rem;
  }
  .deal__descr {
    font-size: 0.938rem;
    line-height: 1.125rem;
  }
}

@media only screen and (min-width: 1344px) {
  .deal__photo:before {
    width: 5.938rem;
    height: 2.688rem;
    right: -9.375rem;
  }
  .deal__name {
    font-size: 1.875rem;
    line-height: 2rem;
  }
  .deal__descr {
    font-size: 1.25rem;
    line-height: 1.375rem;
  }
}

/* ---------------------------------------- */
/* S E C T I O N    S H O P    S T Y L E    */
/* ---------------------------------------- */
.shop {
  background: #f6f6f6;
  padding: 3.125em 0 1.75rem;
}

.shop__btn-group {
  text-align: center;
}

.client {
  margin: 1.875rem 0;
  height: 100%;
}

.client__link {
  margin: 0 auto;
}

.client__img {
  max-width: 6.375rem;
  -webkit-filter: grayscale(100%) brightness(0%) opacity(0.25);
          filter: grayscale(100%) brightness(0%) opacity(0.25);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.client__img:hover, .client__img:focus {
  -webkit-filter: grayscale(0) brightness(100%) opacity(1);
          filter: grayscale(0) brightness(100%) opacity(1);
}

.btn--showall {
  padding: 0.1875rem 0;
  border-bottom: 0.125rem solid #acacac;
  -webkit-border-radius: 0;
          border-radius: 0;
  background: transparent;
  font: 700 1rem/1.125rem "Muller", sans-serif;
  color: #acacac;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  cursor: pointer;
}

.btn--showall:hover, .btn--showall:focus {
  border-bottom-color: #006cac;
  color: #006cac;
}

@media only screen and (min-width: 768px) {
  .shop {
    padding: 1.9375rem 0 2.3125rem;
  }
  .shop__btn-icon {
    font-weight: 800;
  }
  .client__img {
    max-width: 8.313rem;
  }
  .btn--showall {
    padding: 0.625rem 0;
    border-bottom-width: 0.188rem;
    font-size: 1.25em;
    line-height: 1.375rem;
  }
}

@media only screen and (min-width: 992px) {
  .shop {
    padding: 3.625rem 0;
  }
  .client {
    margin: 1.5625rem 0;
    width: 9.375rem;
  }
  .client__img {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1344px) {
  .client {
    width: 12.5rem;
  }
  .btn--showall {
    font-size: 1.313rem;
    line-height: 1.4375rem;
  }
}

/* ------------------------------------------------------ */
/* S E C T I O N    P R E S E N T A T I O N    S T Y L E  */
/* ------------------------------------------------------ */
.presentation {
  padding: 1.375rem 0 2.5rem;
  border-top: 0.063rem solid #e8e8e8;
  border-bottom: 0.063rem solid #e8e8e8;
}

.presentation__item {
  margin: 0.5rem 0;
  -webkit-box-shadow: 0 2.688rem 3.875rem rgba(190, 190, 190, 0.31);
          box-shadow: 0 2.688rem 3.875rem rgba(190, 190, 190, 0.31);
}

.presentation__declimer {
  padding: 1rem 0;
  font: italic 400 0.625rem/0.75rem "Muller", sans-serif;
  color: #282828;
  text-align: center;
  text-transform: uppercase;
}

.presentation__btn-group {
  width: 100%;
  text-align: center;
}

.presentation__btn-icon {
  position: absolute;
  top: 50%;
  left: 2.3125rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media only screen and (min-width: 768px) {
  .presentation {
    padding: 1.875rem 0 3.125rem;
  }
  .presentation__item {
    margin: 1.875rem 0 0.875rem;
  }
  .presentation__declimer {
    padding: 1.875rem 0 2.5rem;
    font-size: 0.813rem;
    line-height: 0.9375rem;
  }
}

@media only screen and (min-width: 992px) {
  .presentation {
    padding: 3.0625rem 0;
  }
  .presentation__item {
    margin: 1rem 0;
  }
  .presentation__declimer {
    padding: 1.75rem 0;
  }
  .presentation__btn {
    padding: 1.25rem 0;
  }
}

@media only screen and (min-width: 1344px) {
  .presentation {
    padding: 3.875rem 0 4.5rem;
  }
  .presentation__item {
    padding: 4.375rem 0 0;
  }
}

/* ---------------------------------------- */
/* S E C T I O N    A B O U T    S T Y L E  */
/* ---------------------------------------- */
.about {
  padding: 1.6875rem 0;
  background: #f6f6f6;
}

.about__heading {
  font-size: 1.563rem;
  line-height: 1.6875rem;
}

.about__text {
  margin: 0.625rem 0;
  padding: 0;
  font: 400 0.625rem/0.75rem "Muller", sans-serif;
  color: #616161;
}

@media only screen and (min-width: 768px) {
  .about {
    padding: 2.375rem 0 3.125rem;
  }
  .about__heading {
    margin: 0.75rem 0 0.9375rem;
  }
  .about__text {
    font-size: 0.813rem;
    line-height: 0.9375rem;
  }
}

@media only screen and (min-width: 992px) {
  .about {
    padding: 1.875rem 0 2.375rem;
  }
  .about__heading {
    margin: 0.75rem 0 2.875rem;
  }
  .about__text {
    padding: 0.8125rem 0;
    font-size: 0.938rem;
    line-height: 1.0625rem;
  }
}

@media only screen and (min-width: 1344px) {
  .about {
    padding: 1.9375rem 0 6.063rem;
  }
  .about__heading {
    margin: 3.5625rem 0;
    font-size: 1.875rem;
    line-height: 2rem;
  }
  .about__text {
    font-size: 1.1875rem;
    line-height: 1.5rem;
  }
}

/* ------------------------------------------ */
/* S E C T I O N    F O O T E R    S T Y L E  */
/* ------------------------------------------ */
.footer {
  padding: 1.5rem 0 0;
  background: #323232;
}

.footer__heading {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 1rem;
  border-bottom: 1px dashed #fff;
  font: 800 0.75rem/1.375rem "Muller", sans-serif;
  color: #fff;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  text-transform: uppercase;
  text-decoration: none;
}

.footer__heading:hover, .footer__heading:focus {
  text-decoration: none;
  color: #fff;
  border-bottom-style: solid;
}

.footer__list {
  margin: 0;
}

.footer-list__link {
  font: 400 0.75rem/1.125rem "Muller", sans-serif;
  color: #f1f1f1;
  text-decoration: underline;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.footer-list__link:hover, .footer-list__link:focus {
  color: #0873e0;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 3.375rem 0 0;
  }
  .footer__heading {
    margin-bottom: 3.0625rem;
    border: 0 none;
    font-size: 0.938em;
    line-height: 1.0625rem;
  }
}

@media only screen and (min-width: 992px) {
  .footer {
    padding: 3.75rem 0 0;
  }
  .footer__heading {
    margin-bottom: 1.3125rem;
  }
  .footer-list__link {
    line-height: 1.313rem;
  }
}

@media only screen and (min-width: 1344px) {
  .footer {
    padding: 4.5rem 0 0;
  }
  .footer__heading {
    margin-bottom: 3.125rem;
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
  .footer-list__link {
    line-height: 1.5rem;
  }
}

/* ------------------------------------------------ */
/* S E C T I O N    C O P Y R I G H T    S T Y L E  */
/* ------------------------------------------------ */
.copyright {
  display: block;
  margin-top: 2.125rem;
  padding: 1.25rem 0;
  background: #282828;
}

.copyright__text {
  font: 400 0.625rem/0.75rem "Muller", sans-serif;
  color: #f1f1f1;
}

.copyright__icon {
  margin-left: 0.1875rem;
}

@media only screen and (min-width: 768px) {
  .copyright {
    margin-top: 1.875rem;
    padding: 1.4375rem 0;
  }
  .copyright__text {
    font-size: 0.875rem;
    line-height: 1rem;
  }
  .copyright__text--designed {
    text-align: right;
  }
}

@media only screen and (min-width: 992px) {
  .copyright {
    margin-top: 4rem;
    padding: 1.9375rem 0 1.5rem;
  }
  .copyright__text {
    font-size: 0.75em;
    line-height: 0.875rem;
  }
}

@media only screen and (min-width: 1344px) {
  .copyright {
    padding: 1.625rem 0 2.25rem;
  }
  .copyright__text {
    font-size: 0.875rem;
    line-height: 1rem;
  }
}

/* ---------------------------------------- */
/* P A G E    C A T A L O G    S T Y L E    */
/* ---------------------------------------- */
.disperse__select {
  width: 100%;
}

/* ---------------------------------------------- */
/* S E C T I O N    C A T E G O R Y    S T Y L E  */
/* ---------------------------------------------- */
.category {
  padding: 0.625rem 0 0.25rem;
  background-color: #f6f6f6;
}

.product {
  margin: 0.5rem 0;
  background-color: #fff;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.product:hover {
  -webkit-box-shadow: 0 0 0.0625rem 0.0625rem #4384ca, 0 0 1rem 0.0625rem rgba(67, 132, 202, 0.25);
          box-shadow: 0 0 0.0625rem 0.0625rem #4384ca, 0 0 1rem 0.0625rem rgba(67, 132, 202, 0.25);
}

.product__content {
  padding: 1rem 1.25rem;
}

.product__photo {
  display: block;
  overflow: hidden;
  text-align: center;
}

.product__photo:hover, .product__photo:focus {
  text-decoration: none;
}

.product__img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: grayscale(0) blur(0);
          filter: grayscale(0) blur(0);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.product__img:hover, .product__img:focus {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-filter: grayscale(100%) blur(0.1875rem);
          filter: grayscale(100%) blur(0.1875rem);
}

.product__name {
  display: block;
  padding: 0.875rem 0 0.25rem;
  font: 700 0.875rem/1rem "Muller", sans-serif;
  color: #6b6b6b;
  letter-spacing: 0.0625rem;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.product__name:hover, .product__name:focus {
  color: #0652a0;
  text-decoration: none;
}

.product__descr {
  padding: 0.125rem 0;
  font: 400 0.563rem/0.6875rem "Muller", sans-serif;
  color: #979797;
  letter-spacing: 0.0625rem;
}

.product__btn-group {
  text-align: right;
}

.product__btn {
  margin: 0 0.25rem;
  padding: 0;
  background: none;
  cursor: pointer;
}

.option {
  padding: 0.625rem 0 0.9375rem;
}

.option__item {
  padding: 0.25rem 0;
}

.option__name {
  font: 400 0.563rem/0.6875rem "Muller", sans-serif;
  color: #979797;
  letter-spacing: 0.0625rem;
}

.option__value {
  font: 700 0.563rem/0.6875rem "Muller", sans-serif;
  color: #4d4d4d;
}

.option__descr {
  font-weight: 400;
  color: #919191;
}

.tags {
  position: relative;
}

.tags__link {
  font: 700 0.563rem/0.6875rem "Muller", sans-serif;
  color: #1e67a0;
  text-decoration: underline;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.tags__link:hover, .tags__link:focus {
  color: #2a90e0;
}

.tags__quantity {
  position: absolute;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: -0.1875rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.875rem;
  height: 0.875rem;
  background-color: #2c75c4;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  font: 700 0.563rem/0.563rem "Muller", sans-serif;
  color: #f5f8f9;
  text-transform: uppercase;
}

.railway {
  font: 700 0.688rem/0.8125rem "Muller", sans-serif;
  color: #6b6b6b;
  text-align: left;
  letter-spacing: 0.0625rem;
}

.railway__icon {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0.6875rem;
  width: 0.875rem;
  height: 0.875rem;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #2c75c4;
  font: 700 0.563rem/0.563rem "Muller", sans-serif;
  color: #fff;
}

.railway__icon--blue {
  background-color: #2c75c4;
}

.railway__icon--gray {
  background-color: #858585;
}

.railway__icon--green {
  background-color: #3faf5f;
}

.railway__link {
  border-bottom: 1px dashed #2c75c4;
  font: 700 0.563rem/0.75rem "Muller", sans-serif;
  color: #2c75c4;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.railway__link:hover, .railway__link:focus {
  text-decoration: none;
  color: #3ea4ff;
  border-bottom: 1px solid #3ea4ff;
}

.favorite {
  color: #c3c3c3;
}

.favorite--active {
  color: #ed8a19;
}

.favorite__icon {
  font-weight: bold;
  color: inherit;
}

.compare {
  color: #c3c3c3;
}

.compare--active {
  color: #2c75c4;
}

.compare__icon {
  font-weight: bold;
  color: inherit;
}

.show-all {
  padding: 1rem 0;
  text-align: center;
}

.show-all__link {
  position: relative;
  display: inline-block;
  border-bottom: 3px solid #aaaaaa;
  font: 900 0.813rem/1rem "Muller", sans-serif;
  color: #aaaaaa;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  letter-spacing: 0.0625rem;
}

.show-all__link:hover, .show-all__link:focus {
  border-bottom-color: #0652a0;
  color: #0652a0;
  text-decoration: none;
}

.show-all__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -2rem;
  color: inherit;
  font-weight: 900;
  font-size: 1.75rem;
}

@media only screen and (min-width: 768px) {
  .category__layout--list .product {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .category__layout--list .product__content {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .category__layout--list .product__photo {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
    max-height: none;
  }
  .category__layout--list .product__img {
    position: relative;
    height: auto;
    max-width: none;
    left: -25%;
  }
  .product__photo {
    max-height: 8.25rem;
  }
  .tags__quantity {
    right: -0.875rem;
  }
  .show-all__link {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
  .show-all__icon {
    font-size: 2.125rem;
  }
}

@media only screen and (min-width: 992px) {
  .category {
    padding: 6.25rem 0 1.563rem;
  }
  .category__layout--big .product__content {
    padding: 1.125rem 1.875rem 1.25rem;
  }
  .category__layout--big .product__photo {
    max-height: 9.375rem;
  }
  .category__layout--big .product__name {
    font-size: 1rem;
    line-height: 1.125rem;
  }
  .category__layout--big .product__descr {
    font-size: 0.688rem;
    line-height: 0.8125rem;
  }
  .category__layout--big .product__btn {
    font-size: 1.25rem;
  }
  .category__layout--big .option__name {
    font-size: 0.688rem;
    line-height: 0.8125rem;
  }
  .category__layout--big .option__value {
    font-size: 0.688rem;
    line-height: 0.8125rem;
  }
  .category__layout--big .tags__link {
    font-size: 0.688rem;
    line-height: 0.8125rem;
  }
  .category__layout--big .tags__quantity {
    width: 1rem;
    height: 1rem;
    right: -0.625rem;
    font-size: 0.813rem;
    line-height: 0.9375rem;
  }
  .category__layout--big .railway {
    font-size: 0.813rem;
    line-height: 0.9375rem;
  }
  .category__layout--big .railway__icon {
    width: 1rem;
    height: 1rem;
    font-size: 0.688rem;
    line-height: 0.8125rem;
  }
  .product:hover {
    -webkit-box-shadow: 0 0 0.0625rem 0.125rem #4384ca, 0 0 1rem 0.0625rem rgba(67, 132, 202, 0.25);
            box-shadow: 0 0 0.0625rem 0.125rem #4384ca, 0 0 1rem 0.0625rem rgba(67, 132, 202, 0.25);
  }
  .show-all {
    padding: 3.125rem 0 1.125rem;
  }
  .show-all__link {
    padding-bottom: 0.5rem;
  }
}

@media only screen and (min-width: 1344px) {
  .category {
    padding: 0.625rem 0;
  }
  .category__layout--big .product__content {
    padding: 1.75rem 2.5rem 1.875rem;
  }
  .category__layout--big .product__photo {
    max-height: 12.5rem;
  }
  .category__layout--big .product__name {
    font-size: 1.25rem;
    line-height: 1.375rem;
  }
  .category__layout--big .product__descr {
    font-size: 0.875rem;
    line-height: 1rem;
  }
  .category__layout--big .product__btn {
    font-size: 1.625rem;
  }
  .category__layout--big .option__name {
    font-size: 0.875rem;
    line-height: 1rem;
  }
  .category__layout--big .option__value {
    font-size: 0.875rem;
    line-height: 1rem;
  }
  .category__layout--big .tags__link {
    font-size: 0.875rem;
    line-height: 1rem;
  }
  .category__layout--big .tags__quantity {
    width: 1.313rem;
    height: 1.313rem;
    right: 0;
    font-size: 0.875rem;
    line-height: 1rem;
  }
  .category__layout--big .railway {
    font-size: 1rem;
    line-height: 1.125rem;
  }
  .category__layout--big .railway__icon {
    width: 1.313rem;
    height: 1.313rem;
    font-size: 0.875rem;
    line-height: 1rem;
  }
  .product {
    margin: 0.75rem 0;
  }
  .product__photo {
    max-height: 10.63rem;
  }
  .product__name {
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
  .product__descr {
    font-size: 0.75rem;
    line-height: 0.875rem;
  }
  .product__btn {
    margin: 0 0.5rem;
    font-size: 21px;
  }
  .option {
    padding: 1.25rem 0 1.875rem;
  }
  .option__item {
    padding: 0.5rem 0;
  }
  .option__name {
    font-size: 0.75rem;
    line-height: 0.875rem;
  }
  .option__value {
    font-size: 0.75rem;
    line-height: 0.875rem;
  }
  .tags__link {
    font-size: 0.75rem;
    line-height: 0.875rem;
  }
  .tags__quantity {
    width: 1.125rem;
    height: 1.125rem;
    right: -0.3125rem;
    font-size: 0.75rem;
    line-height: 0.875rem;
  }
  .railway {
    font-size: 1rem;
    line-height: 1.125rem;
  }
  .railway__icon {
    width: 1.125rem;
    height: 1.125rem;
    font-size: 0.75rem;
    line-height: 0.875rem;
  }
  .railway__link {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .show-all__link {
    font-size: 1.5rem;
    line-height: 1.625rem;
  }
  .show-all__icon {
    right: -2.875rem;
    top: auto;
    bottom: 0;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    font-size: 2.5rem;
  }
}

/* -------------------------------------------- */
/* S E C T I O N    D E T A I L S    S T Y L E  */
/* -------------------------------------------- */
.details {
  padding: 1.563rem 0 2.688rem;
  background-color: #f6f6f6;
}

.details__container {
  background-color: #fff;
  padding-top: 1.625rem;
  padding-bottom: 1.625rem;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

.details__heading {
  font: 700 1.25rem/1.375rem "Muller", sans-serif;
  text-transform: none;
  text-align: left;
  letter-spacing: 0.125rem;
}

.details__text {
  font: 400 0.875rem/1rem "Muller", sans-serif;
  text-align: justify;
  letter-spacing: 0.0625rem;
}

.details__link-group {
  text-align: right;
}

.details__link {
  font: 300 0.875rem/1rem "Muller", sans-serif;
  color: #2c75c4;
  text-decoration: underline;
  letter-spacing: 0.0625rem;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.details__link:hover, .details__link:focus {
  color: #3ea4ff;
}

@media only screen and (min-width: 768px) {
  .details__container {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .details__heading {
    margin: 0.625rem 0 1.375rem;
  }
}

@media only screen and (min-width: 992px) {
  .details {
    padding: 1.75rem 0 3.125em;
  }
  .details__text {
    font-size: 1rem;
    line-height: 1.125rem;
  }
  .details__link {
    font-size: 1rem;
    line-height: 1.125rem;
  }
}

@media only screen and (min-width: 1344px) {
  .details__heading {
    margin: 0.625rem 0 1.875rem;
    font-size: 1.875rem;
    line-height: 2rem;
  }
  .details__text {
    font-size: 1.188rem;
    line-height: 1.313rem;
  }
  .details__link {
    font-size: 1.188rem;
    line-height: 1.313rem;
  }
}
