/* ------------------------------------------------------------------ */
/* O L D - B R O W S E R    J R E J E C T    N O T I F I C A T I O N  */
/* ------------------------------------------------------------------ */
#jr_overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2147483646;
}

#jr_wrap {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 2147483647;
}

#jr_header {
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 5px;
  padding-bottom: 0;
  font: bold 1.3em/1 Helvetica, Arial, sans-serif;
  color: #333;
}

#jr_inner {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  background: #FFF;
  border: 1px solid #CCC;
  color: #4F4F4F;
  font: 400 12px/1 "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#jr_inner p {
  padding: 5px;
  margin: 0;
}

#jr_inner ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

#jr_inner ul li {
  margin: 0 10px 10px 10px;
  padding: 0;
  width: 120px;
  height: 122px;
  float: left;
  text-align: center;
  cursor: pointer;
}

#jr_inner li a {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
}

#jr_inner li a:hover {
  text-decoration: underline;
}

#jr_inner .jr_icon {
  margin: 1px auto;
  padding: 0;
  width: 100px;
  height: 100px;
  background: transparent no-repeat scroll left top;
  cursor: pointer;
}

#jr_close {
  margin: 0;
  padding: 0;
  clear: both;
}

#jr_close a {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  color: #000;
  text-decoration: underline;
}

#jr_close p {
  margin: 0;
  padding: 10px 0 0 0;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../img/icons/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick/slick.eot");
  src: url("../fonts/slick/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick/slick.woff") format("woff"), url("../fonts/slick/slick.ttf") format("truetype"), url("../fonts/slick/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 10px;
  width: 10px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.3;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 10px;
  line-height: 1;
  color: white;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: none;
}

[dir="rtl"] .slick-prev:before {
  content: none;
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: none;
}

[dir="rtl"] .slick-next:before {
  content: none;
}

/* Dots */
.slick-dotted {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 10px;
  width: 10px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 10px;
  height: 10px;
  font-family: "slick";
  font-size: 18px;
  line-height: 10px;
  text-align: center;
  background-color: transparent;
  border: 2px solid #b9b9b9;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  opacity: 0.3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  background: #b9b9b9;
  opacity: 1;
}

/* ---------------------------------------- */
/* G E N E R A L    S T Y L E               */
/* ---------------------------------------- */
.ic {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  vertical-align: middle;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.ic:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
}

.ic--arrow-down:before {
  width: 23px;
  height: 33px;
  background: url(../img/sprite.png) -408px -448px no-repeat;
}

.ic--arrow-right:before {
  width: 95px;
  height: 43px;
  background: url(../img/sprite.png) -275px -501px no-repeat;
}

.ic--blueprint:before {
  width: 75px;
  height: 75px;
  background: url(../img/sprite.png) -323px -406px no-repeat;
}

.ic--brainlogo-xs:before {
  width: 30px;
  height: 32px;
  background: url(../img/sprite.png) -551px -406px no-repeat;
}

.ic--brainlogo:before {
  width: 133px;
  height: 32px;
  background: url(../img/sprite.png) -408px -406px no-repeat;
}

.ic--check:before {
  width: 94px;
  height: 96px;
  background: url(../img/sprite.png) 0px -501px no-repeat;
}

.ic--collaboration:before {
  width: 77px;
  height: 85px;
  background: url(../img/sprite.png) -236px -406px no-repeat;
}

.ic--compare:before {
  width: 186px;
  height: 186px;
  background: url(../img/sprite.png) -214px -210px no-repeat;
}

.ic--compared:before {
  width: 204px;
  height: 186px;
  background: url(../img/sprite.png) 0px -210px no-repeat;
}

.ic--deal:before {
  width: 201px;
  height: 187px;
  background: url(../img/sprite.png) -416px -196px no-repeat;
}

.ic--location:before {
  width: 66px;
  height: 87px;
  background: url(../img/sprite.png) -199px -501px no-repeat;
}

.ic--plaza:before {
  width: 133px;
  height: 85px;
  background: url(../img/sprite.png) 0px -406px no-repeat;
}

.ic--premises:before {
  width: 204px;
  height: 186px;
  background: url(../img/sprite.png) -416px 0px no-repeat;
}

.ic--search:before {
  width: 200px;
  height: 200px;
  background: url(../img/sprite.png) 0px 0px no-repeat;
}

.ic--share:before {
  width: 85px;
  height: 88px;
  background: url(../img/sprite.png) -104px -501px no-repeat;
}

.ic--shops:before {
  width: 83px;
  height: 85px;
  background: url(../img/sprite.png) -143px -406px no-repeat;
}

.ic--task:before {
  width: 196px;
  height: 196px;
  background: url(../img/sprite.png) -210px 0px no-repeat;
}

.body {
  min-height: 100vh;
}

.flex-grow {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* form */
.text-danger {
  color: #b94a48;
  text-align: left;
}

.form-group.error .form-control {
  border-color: #b94a48;
}

[type=submit]:disabled {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

.btn {
  position: relative;
}

.btn:hover, .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* icons */
.ic--arrow-down:before {
  width: 1.4375rem;
  height: 2.125rem;
  background: url(../img/icons/arrow-down.png) no-repeat;
}

/* btns */
.btn--rounded {
  padding: 0.75rem 3.438rem;
  border: 0.188rem solid #fff;
  -webkit-border-radius: 1.375rem;
          border-radius: 1.375rem;
  font: 700 0.813rem/0.9375rem "Muller", sans-serif;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  text-decoration: none;
}

.btn--rounded:hover, .btn--rounded:focus {
  text-decoration: none;
  background-color: #fff;
  color: #0f5a91;
}

.btn--default {
  padding: 0.875rem;
  width: 100%;
  max-width: 20rem;
  background: #ff5609 -webkit-gradient(linear, left top, right top, from(#ff3200), to(#ff7512)) no-repeat scroll 0 0;
  background: #ff5609 -webkit-linear-gradient(left, #ff3200 0%, #ff7512 100%) no-repeat scroll 0 0;
  background: #ff5609 linear-gradient(to right, #ff3200 0%, #ff7512 100%) no-repeat scroll 0 0;
  border: 0 none;
  -webkit-border-radius: 0;
          border-radius: 0;
  font: 700 0.813rem/0.9375rem "Muller", sans-serif;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  text-decoration: none;
}

.btn--default:hover, .btn--default:focus {
  background: #e62e00;
  color: #fff;
  text-decoration: none;
  -webkit-box-shadow: 0 10px 50px 1px rgba(0, 0, 0, 0.44);
          box-shadow: 0 10px 50px 1px rgba(0, 0, 0, 0.44);
}

.btn__descr {
  display: block;
  padding-top: 0.1875rem;
  font: 400 0.688rem/0.8125rem "Muller", sans-serif;
  opacity: .44;
  text-transform: none;
}

@media only screen and (min-width: 768px) {
  .btn--rounded {
    padding: 1.6875rem 3.483rem;
    -webkit-border-radius: 2.875rem;
            border-radius: 2.875rem;
  }
  .btn--default {
    padding: 1.6875rem 3.483rem;
    -webkit-border-radius: 2.875rem;
            border-radius: 2.875rem;
  }
  .btn__descr {
    padding-top: 0.375rem;
  }
}

@media only screen and (min-width: 1344px) {
  .btn--rounded {
    width: 100%;
    max-width: 27.875rem;
    padding: 2.1875rem 2.25rem;
    font-size: 1.25rem;
    line-height: 1.375rem;
  }
  .btn--default {
    max-width: 27.875rem;
    padding: 2.1875rem 2.25rem;
    font-size: 1.25rem;
    line-height: 1.375rem;
  }
}

/* slick slider */
.slick-dots--inverse li button:before {
  border-color: #fff;
}

.slick-dots--inverse li.slick-active button:before {
  background: #fff;
}

/* ---------------------------------------- */
/* H O M E    P A G E    S T Y L E          */
/* ---------------------------------------- */
.logo {
  text-align: center;
}

.logo__img {
  width: 4.063rem;
  margin: 0 auto;
}

.logo__descr {
  margin: 1.5rem 0 0.4375rem;
  font: 700 1rem/1.1rem "Muller", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.sub-heading {
  margin: 0.75rem 0;
  font: 800 1rem/1.125rem "Muller", sans-serif;
  color: #424242;
  text-transform: uppercase;
  text-align: center;
}

.sub-heading--orange {
  border-bottom: 0.0625rem dashed #f9651e;
  color: #f9651e;
}

@media only screen and (min-width: 768px) {
  .logo__img {
    width: 5rem;
  }
  .logo__descr {
    margin: 3rem 0 0.75rem;
    font-size: 1.875rem;
    line-height: 2rem;
    letter-spacing: 0.1875rem;
  }
  .sub-heading {
    font-size: 1.563rem;
    line-height: 1.6875rem;
  }
}

@media only screen and (min-width: 992px) {
  .logo__descr {
    margin: 2.875rem 0 2.125rem;
    font-size: 2.4375rem;
    line-height: 2.5625rem;
  }
  .sub-heading--orange {
    border-bottom-width: 0.125rem;
  }
}

@media only screen and (min-width: 1344px) {
  .logo__img {
    width: 5.688rem;
  }
  .logo__descr {
    margin: 4.375rem 0 2.625rem;
    font-size: 2.5625rem;
    line-height: 2.6875rem;
    letter-spacing: 0.4375rem;
  }
  .sub-heading {
    font-size: 1.875rem;
    line-height: 2rem;
    letter-spacing: 0.1875rem;
    border-bottom-width: 0.1875rem;
  }
}

/* ------------------------------------------ */
/* S E C T I O N    H E A D E R    S T Y L E  */
/* ------------------------------------------ */
.header {
  padding: 2.25rem 0 0;
  background: #0571b1 url(../img/header-bg.jpg) no-repeat scroll 0 0;
  background-size: cover;
}

.header__btn-group {
  width: 100%;
  text-align: center;
}

.header__btn {
  margin-top: 0.75rem;
}

.header__btn--inverse:hover, .header__btn--inverse:focus {
  -webkit-box-shadow: 0 10px 50px 1px rgba(255, 255, 255, 0.44);
          box-shadow: 0 10px 50px 1px rgba(255, 255, 255, 0.44);
}

.heading {
  font: 500 0.688rem/0.8125rem "Muller", sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.dropdown {
  display: inline-block;
  vertical-align: top;
}

.dropdown__toggle {
  border-bottom: 0.0625rem dashed #fff;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.dropdown__toggle:hover, .dropdown__toggle:focus {
  color: #fff;
  border-bottom: 0.0625rem solid #fff;
  text-decoration: none;
}

.dropdown-menu--right {
  right: 0;
  left: auto;
}

.tenantry {
  padding: 0.875rem 0;
  text-align: center;
}

.tenantry__value {
  display: inline-block;
  vertical-align: top;
  padding: 0 0.375rem;
  font: 200 2.5rem/2.563rem "Muller", sans-serif;
  color: #fff;
}

.tenantry__value--underline {
  border-bottom: 0.0625rem dashed #fff;
}

.tenantry__name {
  padding: 0.3125rem 0;
  font: 500 1.125rem/1.25rem "Muller", sans-serif;
  color: #fff;
  text-align: center;
}

.tenantry__descr {
  font: 400 0.938rem/1.125rem "Muller", sans-serif;
  color: #fff;
  opacity: .8;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 1.625rem 0 1.5rem;
  }
  .header__btn {
    margin: 0.9375rem;
  }
  .heading {
    font-size: 1.25rem;
    line-height: 1.375rem;
    letter-spacing: 0.125rem;
  }
  .dropdown__toggle {
    border-bottom-width: 0.125rem;
  }
  .dropdown__toggle:hover, .dropdown__toggle:focus {
    border-bottom-width: 0.125rem;
  }
  .tenantry {
    padding: 3.25rem 0 1.625rem;
  }
  .tenantry__value--underline {
    border-bottom-width: 0.125rem;
  }
}

@media only screen and (min-width: 992px) {
  .header {
    padding: 2.25rem 0 1.6875rem;
  }
  .heading {
    font-size: 1.8125rem;
    line-height: 1.9375rem;
  }
  .tenantry {
    padding: 3.25rem 0 1.6875rem;
  }
  .tenantry__value {
    font-size: 3.25rem;
    line-height: 3.375rem;
  }
  .tenantry__name {
    padding: 0.625rem 0;
    font-size: 1.5rem;
    line-height: 1.625rem;
  }
  .tenantry__descr {
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
}

@media only screen and (min-width: 1344px) {
  .header {
    padding: 2.25rem 0 2.5rem;
  }
  .header__btn {
    margin: 1rem 1.5rem;
  }
  .heading {
    font-size: 1.875rem;
    line-height: 2rem;
  }
  .tenantry {
    padding: 4.438rem 0 3.625rem;
  }
  .tenantry__value {
    font-size: 4.375rem;
    line-height: 4.5rem;
  }
  .tenantry__name {
    padding: 0.1875rem 0 1rem;
    font-size: 1.8125rem;
    line-height: 1.9375rem;
    letter-spacing: 0.125rem;
  }
  .tenantry__descr {
    font-size: 1.3125rem;
    line-height: 1.4375rem;
    letter-spacing: 0.0625rem;
  }
}

/* ---------------------------------------- */
/* S E C T I O N    W O R K    S T Y L E    */
/* ---------------------------------------- */
.work {
  padding: 1.125rem 0 1.875rem;
  border: 0.063rem solid #e8e8e8;
}

.video {
  margin: 0.75rem 0;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .work {
    padding: 3rem 0;
  }
  .video {
    margin: 1.5rem 0;
  }
}

@media only screen and (min-width: 1344px) {
  .work {
    padding: 3.1875rem 0 3.9375rem;
  }
  .video {
    margin: 2.0625rem 0;
  }
}

/* -------------------------------------------- */
/* S E C T I O N    S E R V I C E    S T Y L E  */
/* -------------------------------------------- */
.service {
  padding: 1.25rem 0 4rem;
  background: #f6f6f6;
}

.slick-dots--service {
  bottom: -2.375rem;
}

.tab__panel {
  background: #fff;
  -webkit-box-shadow: 0 2.688rem 3.875rem rgba(176, 176, 176, 0.31);
          box-shadow: 0 2.688rem 3.875rem rgba(176, 176, 176, 0.31);
  display: none;
}

.tab__panel--active {
  display: block;
}

.panel__row {
  margin: 0;
}

.panel__item {
  padding: 1.625rem;
}

.panel__heading {
  padding: 1.0625rem 0;
  font: 200 1.125rem/1.25rem "Muller", sans-serif;
  color: #aaa;
  text-align: center;
}

.panel__photo {
  margin: 1rem 0;
  text-align: center;
}

.panel__name {
  font: 200 1.375rem/1.75rem "Muller", sans-serif;
  color: #333;
  text-align: center;
}

.panel__descr {
  font: 200 1.125rem/1.25rem "Muller", sans-serif;
  text-align: center;
}

.tab-control__item {
  text-align: center;
}

.tab-control__link {
  display: inline-block;
  margin: 0.4375rem 0;
  padding: 1.0625rem;
  min-width: 13.25rem;
  border: 0.063rem dashed #474747;
  -webkit-border-radius: 1.4375rem;
          border-radius: 1.4375rem;
  font: 500 0.875rem/1rem "Muller", sans-serif;
  color: #303030;
  opacity: .6;
  text-decoration: none;
}

.tab-control__link:hover, .tab-control__link:focus {
  border-color: #0652a0;
  text-decoration: none;
  opacity: .9;
}

.tab-control__link--active {
  min-width: 15rem;
  opacity: 1;
}

.tab-control__link--active:hover, .tab-control__link--active:focus {
  color: #303030;
  border-color: #474747;
}

@media only screen and (min-width: 768px) {
  .service__heading {
    margin-bottom: 2.5rem;
  }
  .tab__panel {
    display: block;
    padding: 3.125rem 0 1.5rem;
    height: 100%;
  }
  .tab-control__link {
    font-size: 0.938rem;
    line-height: 1.0625rem;
  }
}

@media only screen and (min-width: 992px) {
  .tab__panel {
    -webkit-box-shadow: 0 2.688rem 3.875rem rgba(176, 176, 176, 0.31);
            box-shadow: 0 2.688rem 3.875rem rgba(176, 176, 176, 0.31);
  }
  .panel__name {
    font-size: 1.063rem;
    line-height: 1.188rem;
  }
  .panel__descr {
    font-size: 1.063rem;
    line-height: 1.188rem;
  }
}

@media only screen and (min-width: 1344px) {
  .service {
    padding: 4rem 0;
  }
  .panel__name {
    font-size: 1.375rem;
    line-height: 1.5rem;
  }
  .panel__descr {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
}

/* ---------------------------------------- */
/* S E C T I O N    S H O P    S T Y L E    */
/* ---------------------------------------- */
.shop {
  background: #f6f6f6;
  padding: 3.125em 0 1.75rem;
}

.shop__btn-group {
  text-align: center;
}

.client {
  margin: 1.875rem 0;
  height: 100%;
}

.client__link {
  margin: 0 auto;
}

.client__img {
  max-width: 6.375rem;
  -webkit-filter: grayscale(100%) brightness(0%) opacity(0.25);
          filter: grayscale(100%) brightness(0%) opacity(0.25);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.client__img:hover, .client__img:focus {
  -webkit-filter: grayscale(0) brightness(100%) opacity(1);
          filter: grayscale(0) brightness(100%) opacity(1);
}

.btn--showall {
  padding: 0.1875rem 0;
  border-bottom: 0.125rem solid #acacac;
  -webkit-border-radius: 0;
          border-radius: 0;
  background: transparent;
  font: 700 1rem/1.125rem "Muller", sans-serif;
  color: #acacac;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  cursor: pointer;
}

.btn--showall:hover, .btn--showall:focus {
  border-bottom-color: #006cac;
  color: #006cac;
}

@media only screen and (min-width: 768px) {
  .shop {
    padding: 1.9375rem 0 2.3125rem;
  }
  .shop__btn-icon {
    font-weight: 800;
  }
  .client__img {
    max-width: 8.313rem;
  }
  .btn--showall {
    padding: 0.625rem 0;
    border-bottom-width: 0.188rem;
    font-size: 1.25em;
    line-height: 1.375rem;
  }
}

@media only screen and (min-width: 992px) {
  .shop {
    padding: 3.625rem 0;
  }
  .client {
    margin: 1.5625rem 0;
    width: 9.375rem;
  }
  .client__img {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1344px) {
  .client {
    width: 12.5rem;
  }
  .btn--showall {
    font-size: 1.313rem;
    line-height: 1.4375rem;
  }
}

/* ------------------------------------------------------ */
/* S E C T I O N    P R E S E N T A T I O N    S T Y L E  */
/* ------------------------------------------------------ */
.presentation {
  padding: 1.375rem 0 2.5rem;
  border-top: 0.063rem solid #e8e8e8;
  border-bottom: 0.063rem solid #e8e8e8;
}

.presentation__item {
  margin: 0.5rem 0;
  -webkit-box-shadow: 0 2.688rem 3.875rem rgba(190, 190, 190, 0.31);
          box-shadow: 0 2.688rem 3.875rem rgba(190, 190, 190, 0.31);
}

.presentation__declimer {
  padding: 1rem 0;
  font: italic 400 0.625rem/0.75rem "Muller", sans-serif;
  color: #282828;
  text-align: center;
  text-transform: uppercase;
}

.presentation__btn-group {
  width: 100%;
  text-align: center;
}

.presentation__btn-icon {
  position: absolute;
  top: 50%;
  left: 2.3125rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media only screen and (min-width: 768px) {
  .presentation {
    padding: 1.875rem 0 3.125rem;
  }
  .presentation__item {
    margin: 1.875rem 0 0.875rem;
  }
  .presentation__declimer {
    padding: 1.875rem 0 2.5rem;
    font-size: 0.813rem;
    line-height: 0.9375rem;
  }
}

@media only screen and (min-width: 992px) {
  .presentation {
    padding: 3.0625rem 0;
  }
  .presentation__item {
    margin: 1rem 0;
  }
  .presentation__declimer {
    padding: 1.75rem 0;
  }
  .presentation__btn {
    padding: 1.25rem 0;
  }
}

@media only screen and (min-width: 1344px) {
  .presentation {
    padding: 3.875rem 0 4.5rem;
  }
  .presentation__item {
    padding: 4.375rem 0 0;
  }
}

/* ---------------------------------------- */
/* S E C T I O N    A B O U T    S T Y L E  */
/* ---------------------------------------- */
.about {
  padding: 1.6875rem 0;
  background: #f6f6f6;
}

.about__heading {
  font-size: 1.563rem;
  line-height: 1.6875rem;
}

.about__text {
  margin: 0.625rem 0;
  padding: 0;
  font: 400 0.625rem/0.75rem "Muller", sans-serif;
  color: #616161;
}

@media only screen and (min-width: 768px) {
  .about {
    padding: 2.375rem 0 3.125rem;
  }
  .about__heading {
    margin: 0.75rem 0 0.9375rem;
  }
  .about__text {
    font-size: 0.813rem;
    line-height: 0.9375rem;
  }
}

@media only screen and (min-width: 992px) {
  .about {
    padding: 1.875rem 0 2.375rem;
  }
  .about__heading {
    margin: 0.75rem 0 2.875rem;
  }
  .about__text {
    padding: 0.8125rem 0;
    font-size: 0.938rem;
    line-height: 1.0625rem;
  }
}

@media only screen and (min-width: 1344px) {
  .about {
    padding: 1.9375rem 0 6.063rem;
  }
  .about__heading {
    margin: 3.5625rem 0;
    font-size: 1.875rem;
    line-height: 2rem;
  }
  .about__text {
    font-size: 1.1875rem;
    line-height: 1.5rem;
  }
}

/* ------------------------------------------ */
/* S E C T I O N    F O O T E R    S T Y L E  */
/* ------------------------------------------ */
.footer {
  padding: 1.5rem 0 0;
  background: #323232;
}

.footer__heading {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 1rem;
  border-bottom: 1px dashed #fff;
  font: 800 0.75rem/1.375rem "Muller", sans-serif;
  color: #fff;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  text-transform: uppercase;
  text-decoration: none;
}

.footer__heading:hover, .footer__heading:focus {
  text-decoration: none;
  color: #fff;
  border-bottom-style: solid;
}

.footer__list {
  margin: 0;
}

.footer-list__link {
  font: 400 0.75rem/1.125rem "Muller", sans-serif;
  color: #f1f1f1;
  text-decoration: underline;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.footer-list__link:hover, .footer-list__link:focus {
  color: #0873e0;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 3.375rem 0 0;
  }
  .footer__heading {
    margin-bottom: 3.0625rem;
    border: 0 none;
    font-size: 0.938em;
    line-height: 1.0625rem;
  }
}

@media only screen and (min-width: 992px) {
  .footer {
    padding: 3.75rem 0 0;
  }
  .footer__heading {
    margin-bottom: 1.3125rem;
  }
  .footer-list__link {
    line-height: 1.313rem;
  }
}

@media only screen and (min-width: 1344px) {
  .footer {
    padding: 4.5rem 0 0;
  }
  .footer__heading {
    margin-bottom: 3.125rem;
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
  .footer-list__link {
    line-height: 1.5rem;
  }
}

/* ------------------------------------------------ */
/* S E C T I O N    C O P Y R I G H T    S T Y L E  */
/* ------------------------------------------------ */
.copyright {
  display: block;
  margin-top: 2.125rem;
  padding: 1.25rem 0;
  background: #282828;
}

.copyright__text {
  font: 400 0.625rem/0.75rem "Muller", sans-serif;
  color: #f1f1f1;
}

.copyright__icon {
  margin-left: 0.1875rem;
}

@media only screen and (min-width: 768px) {
  .copyright {
    margin-top: 1.875rem;
    padding: 1.4375rem 0;
  }
  .copyright__text {
    font-size: 0.875rem;
    line-height: 1rem;
  }
  .copyright__text--designed {
    text-align: right;
  }
}

@media only screen and (min-width: 992px) {
  .copyright {
    margin-top: 4rem;
    padding: 1.9375rem 0 1.5rem;
  }
  .copyright__text {
    font-size: 0.75em;
    line-height: 0.875rem;
  }
}

@media only screen and (min-width: 1344px) {
  .copyright {
    padding: 1.625rem 0 2.25rem;
  }
  .copyright__text {
    font-size: 0.875rem;
    line-height: 1rem;
  }
}
