- var page = {}
- var hostname = "/" //- site domen name

- 
  var content = 
    {
      site: {
        hostname: hostname, //- site domen name
        author: "Tagopen",
        meta: {
          charset: "utf-8",
          favicon: "favicon.png",
          appleTouchIcon: "apple-touch-icon.png"
        },
        logo: {
          img: {
            src: "img/logo/logo-vitrina.png",
            alt: "Vitrina Club Биржа ритейла"
          }
        },
        navRight: {
          links: {
            favorite: {
              href: "#",
              text: "Избранное",
              icon: "fa-star",
              number: "5"
            },
            compare: {
              href: "#",
              text: "Сравнение",
              icon: "fa-balance-scale",
              number: "3"
            }
          }
        },
        footer: {
          cols: [
            {
              heading: {
                link: {
                  href: "#",
                  text: "Торговые центры"
                }
              },
              list: {
                links: [
                  {
                    href: "#",
                    text: "Каталог торговых центров"
                  }, 
                  {
                    href: "#",
                    text: "Список торговых центров"
                  },
                  {
                    href: "#",
                    text: "Сравнение торговых центров"
                  }
                ]
              }
            },
            {
              heading: {
                link: {
                  href: "#",
                  text: "Полезные статьи"
                }
              },
              list: {
                links1: [
                  {
                    href: "#",
                    text: "Информация по ТЦ"
                  },
                  {
                    href: "#",
                    text: "Месторасположения ТЦ"
                  },
                  {
                    href: "#",
                    text: "Что нужно узнать по аренде"
                  },
                  {
                    href: "#",
                    text: "Договор аренды ТЦ"
                  },
                ],
                links2: [
                  {
                    href: "#",
                    text: "Информация по ТЦ"
                  },
                  {
                    href: "#",
                    text: "Месторасположения ТЦ"
                  },
                  {
                    href: "#",
                    text: "Что нужно узнать по аренде"
                  },
                  {
                    href: "#",
                    text: "Договор аренды ТЦ"
                  }
                ]
              }
            },
            {
              heading: {
                link: {
                  href: "#",
                  text: "Помощь"
                }
              },
                list: {
                links: [
                  {
                    href: "#",
                    text: "Вопросы и ответы"
                  },
                  {
                    href: "#",
                    text: "Публичная оферта"
                  },
                  {
                    href: "#",
                    text: "Правила конфиденциальности"
                  },
                  {
                    href: "#",
                    text: "Служба поддержки"
                  }
                ]
              }
            },
          ],
          copyright: {
            text: "Vitrina&nbsp;Club&nbsp;&copy;&nbsp;2017. All&nbsp;rights&nbsp;reserved.",
            designed: {
              text: "Дизайн - ",
              icons: [
                "hidden-sm-down ic--brainlogo",
                "hidden-md-up ic--brainlogo-xs"
              ]
            }
          }
        }
      }, //- site
      index: {
        hostname: "index.html",
        title: "Главная страница",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Site name",
            siteName: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "/img/logo/microformat.png"
          }
        },
        logo: {
          img: {
            src: "img/logo/logo.png",
            alt: "Vitrina club"
          },
          descr: "Биржа ритейла",
        },
        h1: {
          text: "Аренда помещений в торговых центрах без посредников в ",
          localization: [
            {
              name: "Москве",
              link: "#"
            },
            {
              name: "Химки",
              link: "#"
            },
            {
              name: "Санкт Петербург",
              link: "#"
            }
          ]
        },
        header: {
          selection: [
            {
              value: "465",
              name: "Торговых центров",
              descr: "в нашем каталоге ТЦ",
              modifier: "tenantry__value--underline"
            },
            {
              value: "124",
              name: "Арендаторов",
              descr: "небольших и крупных",
              modifier: "tenantry__value--underline"
            },
            {
              value: "10k <sub>/</sub> 90",
              name: "Оформленных заявок",
              descr: "всего / сегодня",
            }
          ],
          btns: [
            {
              text: "Найти арендатора",
              link: "#",
              class: "btn--rounded"
            },
            {
              text: "Подобрать торговый центр",
              link: "#",
              class: "btn--default"
            }
          ]
        },
        work: {
          heading: "Как это работает",
          video: {
            id: "8z9kooDFTSE",
            images: {
              desktop: {
                src: "img/video.jpg",
                alt: "Как это работает"
              },
              mobile: {
                src: "img/video-xs.jpg",
                alt: "Как это работает"
              }
            }
          }
        },
        service: {
          heading: "Какую информацию мы предоставляем",
          tab: {
            control: [
              {
                name: "о торговом центре",
                target: "#service1"
              },
              {
                name: "о арендаторе",
                target: "#service2"
              }
            ],
            panel: {
              service1: [
                {
                  icon: "ic--collaboration",
                  name: "Якорные арендаторы"
                },
                {
                  icon: "ic--plaza",
                  name: "Свободные торговые площади"
                },

                {
                  icon: "ic--location",
                  name: "Локация",
                  descr: "(месторасположение)"
                },
                {
                  icon: "ic--blueprint",
                  name: "Площадь",
                  descr: "(GLA/GLB)"
                },
              ],
              service2: [
                {
                  icon: "ic--shops",
                  name: "Количество магазинов"
                },
                {
                  icon: "ic--check",
                  name: "Средний чек"
                },
                {
                  icon: "ic--share",
                  name: "Бренды",
                },
                {
                  icon: "ic--rgb",
                  name: "Форматы"
                },
              ]
            }
          }
        },
        process: {
          heading: "Процесс заключения сделки в 3 шага",
          tab: {
            control: [
              {
                name: "Для торговых центров",
                target: "#process1"
              },
              {
                name: "Для арендаторов",
                target: "#process2"
              }
            ],
            panel: {
              process1: [
                {
                  icon: "ic--premises",
                  name: "Поиск помещения",
                  descr: {
                    text: "Осуществляйте простой и удобный поиск в ",
                    link: {
                      name: "каталоге торговых центров",
                      href: "#"
                    }
                  }
                },
                {
                  icon: "ic--compared",
                  name: "Сравнение ТЦ",
                  descr: {
                    text: "Сравнивайте торговые центры по важным характеристикам"
                  }
                },
                {
                  icon: "ic--deal",
                  name: "Заключение сделки",
                  descr: {
                    text:"заполните и отправьте нам письмо о намерениях"
                  }
                },
              ],
              process2: [
                {
                  icon: "ic--search",
                  name: "Поиск арендатора",
                  descr: {
                    text: "Осуществляйте простой и удобный поиск в ",
                    link: {
                      name: "каталоге арендаторов",
                      href: "#"
                    }
                  }
                },
                {
                  icon: "ic--compare",
                  name: "Сравнение арендаторов",
                  descr: {
                    text: "Сравнивайте арендаторов по важным характеристикам"
                  }
                },
                {
                  icon: "ic--task",
                  name: "Письмо о намерениях",
                  descr: {
                    text: "ознакомьтесь и выберите подходящего арендатора"
                  }
                },
              ]
            },
            btns: [
              {
                name: "заключить сделку",
                href: "#"
              },
              {
                name: "Выбрать арендатора",
                href: "#"
              },

            ],
            carousel: {
              indicator: {
               name: "шаг" 
              }
            },
          },
        },
        shop: {
          heading: {
            name: "Некоторые из ",
            orange: "торговых&nbsp;центров"
          },
          items: [
            {
              link: {
                href: "#"
              },
              img: {
                src: "img/logo/company/evropejskij.png",
                alt: "Европейский торгово-развлекательный центр"
              }
            },
            {
              link: {
                href: "#"
              },
              img: {
                src: "img/logo/company/rio.png",
                alt: "РИО"
              }
            },
            {
              link: {
                href: "#"
              },
              img: {
                src: "img/logo/company/skypark.png",
                alt: "Торговый центр SkyPark"
              }
            },
            {
              link: {
                href: "#"
              },
              img: {
                src: "img/logo/company/colored.png",
                alt: "Цветной универмаг"
              }
            },
            {
              link: {
                href: "#"
              },
              img: {
                src: "img/logo/company/willing.png",
                alt: "Охотный ряд торговый центр"
              }
            },
            {
              link: {
                href: "#"
              },
              img: {
                src: "img/logo/company/park.png",
                alt: "Ритейл парк"
              }
            },
            {
              link: {
                href: "#"
              },
              img: {
                src: "img/logo/company/vavilon.png",
                alt: "Золотой вавилон"
              }
            },
            {
              link: {
                href: "#"
              },
              img: {
                src: "img/logo/company/metropolis.png",
                alt: "Метрополис"
              }
            },
            {
              link: {
                href: "#"
              },
              img: {
                src: "img/logo/company/megapolis.png",
                alt: "Мегаполис"
              }
            },
            {
              link: {
                href: "#"
              },
              img: {
                src: "img/logo/company/cum.png",
                alt: "ЦУМ"
              }
            },
          ],
          btn: {
            text: "Показать всех &nbsp;",
            icon: "fa-angle-double-down"
          }
        },
        presentation: {
          heading: "Презентация сервиса",
          img: {
            src: "img/presentation.jpg",
            alt: "Презентация Vitrina Club"
          },
          declimer: "или",
          btn: {
            href: "#",
            icon: "ic--arrow-down",
            text: "Скачать презентацию",
            descr: "5 мегабайт, PDF"
          }
        },
        about: {
          heading: "О сервисе",
          paragraphs: [
            "Не следует, однако забывать, что укрепление и развитие структуры позволяет оценить значение новых предложений. Идейные соображения высшего порядка, а также консультация с широким активом влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий.",
            "С другой стороны рамки и место обучения кадров позволяет выполнять важные задания по разработке направлений прогрессивного развития.",
            "Не следует, однако забывать, что укрепление и развитие структуры позволяет оценить значение новых предложений. Идейные соображения высшего порядка, а также консультация с широким активом влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий.",
            "С другой стороны рамки и место обучения кадров позволяет выполнять важные задания по разработке направлений прогрессивного развития.",
            "Не следует, однако забывать, что укрепление и развитие структуры позволяет оценить значение новых предложений. Идейные соображения высшего порядка, а также консультация с широким активом влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий."
          ]
        },
      }, //- index
      catalog: {
        hostname: "catalog.html",
        title: "Каталог",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Site name",
            siteName: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "/img/logo/microformat.png"
          }
        },
        nav: {
          links: [
            {
              name: "Каталог",
              href: "#"
            },
            {
              city: [
                {
                  name: "Москва",
                  href: "#"
                },
                {
                  name: "Екатеринбург",
                  href: "#"
                },
                {
                  name: "Одинцово",
                  href: "#"
                }
              ]
            }
          ]
        },
        breadcrumbs: [
          {
            name: "Главная",
            href: "#"
          },
          {
            name: "Каталог торговых центров в г. Москва",
            href: "#"
          },
        ],
        intro: {
          heading: "Выберите нужные вам критерии поиска",
          choice: {
            btn: {
              number: "32",
              text: " торговых центра",
              color: "btn--blue"
            },
            text: "Отобрано"
          }
        },
        search: {
          control: {
            heading: {
              name: "Поиск по торговым центрам",
              icon: "fa fa-search"
            },
            input: {
              placeholder: "ТРЦ Европейский"
            }
          },
          items: [
            {
              heading: {
                name: "Желательные якорные арендаторы",
                icon: "fa fa-anchor",
                id: "disperse1"
              },
              selects: {
                multipleSelect: [
                  "kfc",
                  "colin\'s",
                  "kfc 2",
                  "colin\'s 2"
                ],
                link: {
                  href: "#",
                  name: "или"
                }
              },
              hint: {
                name: "желательные "
              }
            },
            {
              heading: {
                name: "Нежелательные якорные арендаторы",
                icon: "fa fa-anchor",
                id: "disperse2"
              },
              multipleSelect: [
                "kfc",
                "colin\'s",
                "kfc 2",
                "colin\'s 2"
              ],
              hint: {
                name: "нежелательные - ",
                tooltip: {
                  href: "#",
                  name: "Что это значит ?",
                  title: "Нежелательные якорные арендаторы"
                }
              }
            },
            {
              heading: {
                name: "Торговая площадь",
                arrows: {
                  up: "fa-angle-up",
                  down: "fa-angle-down"
                },
                icon: "fa fa-map-o",
                id: "disperse3"
              },
              select: {
                area: [
                  "от 5 м<sub>2</sub>",
                  "20 м<sub>2</sub>",
                  "50 м<sub>2</sub>",
                  "100 м<sub>2</sub>",
                  "> 100м<sub>2</sub>",
                ]
              }
            },
            {
              heading: {
                name: "Парковка",
                arrows: {
                  up: "fa-angle-up",
                  down: "fa-angle-down"
                },
                icon: "fa fa-car",
                id: "disperse4"
              },
              select: {
                parking: [
                  "> 1 000 мест",
                  "< 1 000 мест"
                ]
              }
            },
          ]
        },
        sort: {
          heading: "Сортировать по",
          left: [
            {
              name: "Якорным арендаторам ",
              icons: {
                up: "fa fa-long-arrow-up",
                down: "fa fa-long-arrow-down",
              },
              href: "#"
            },
            {
              name: "Площади ",
              icons: {
                up: "fa fa-long-arrow-up",
                down: "fa fa-long-arrow-down",
              },
              href: "#"
            },
            {
              name: "Паркоместам ",
              icons: {
                up: "fa fa-long-arrow-up",
                down: "fa fa-long-arrow-down",
              },
              href: "#"
            },
          ],
          right: [
            {
              id: "map-view",
              name: "На карте",
              icon: "fa fa-map-marker"
            },
            {
              id: "grid-view",
              name: "Плиткой",
              icon: "fa fa-table"
            },
            {
              id: "list-view",
              name: "Списком",
              icon: "fa fa-bars"
            },
          ]
        },
        category: {
          map: {
            class: "map--category",
            img: {
              src: "img/map.jpg",
              alt: "Карта",
            }
          },
          items: [
            {
              href: "#",
              img: {
                link: "img/category-1.jpg",
                alt: "ТЦ Европейский"
              },
              name: "ТЦ Европейский",
              city: "г. Москва",
              options: [
                {
                  name: "Якорные:",
                  value: {
                    links: [
                      {
                        name: "Ашан",
                        href: "#"
                      },
                      {
                        name: "McDonalds",
                        href: "#"
                      },
                    ],
                    label: "7",
                    delimeter: ", "
                  }
                },
                {
                  name: "Торговая пл.:",
                  value: {
                    number: "45 000 ",
                    descr: "м2"
                  }
                },
                {
                  name: "Свободная пл.:",
                  value: {
                    number: "14 000 ",
                    descr: "м2"
                  }
                },
                {
                  name: "Парковка:",
                  value: {
                    number: "250 ",
                    descr: "мест"
                  }
                }
              ],
              railway: {
                icon: {
                  color: "blue",
                  name: "м"
                },
                name: "Киевская"
              },
              btnGroup: {
                favorite: "fa-star",
                compare: "fa-balance-scale"
              }
            },
            {
              href: "#",
              img: {
                link: "img/category-2.jpg",
                alt: "ТЦ Ереван Плаза"
              },
              name: "ТЦ Ереван Плаза",
              city: "г. Москва",
              options: [
                {
                  name: "Якорные:",
                  value: {
                    links: [
                      {
                        name: "Ашан",
                        href: "#"
                      },
                      {
                        name: "McDonalds",
                        href: "#"
                      },
                    ],
                    label: "2",
                    delimeter: ", "
                  }
                },
                {
                  name: "Торговая пл.:",
                  value: {
                    number: "35 000 ",
                    descr: "м2"
                  }
                },
                {
                  name: "Свободная пл.:",
                  value: {
                    number: "24 000 ",
                    descr: "м2"
                  }
                },
                {
                  name: "Парковка:",
                  value: {
                    number: "550 ",
                    descr: "мест"
                  }
                },
              ],
              railway: {
                icon: {
                  color: "gray",
                  name: "м"
                },
                name: "Тульская"
              },
              btnGroup: {
                favorite: "fa-star",
                compare: "fa-balance-scale"
              }
            },
            {
              href: "#",
              img: {
                link: "img/category-3.jpg",
                alt: "ТЦ Метрополис"
              },
              name: "ТЦ Метрополис",
              city: "г. Москва",
              options: [
                {
                  name: "Якорные:",
                  value: {
                    links: [
                      {
                        name: "Ашан",
                        href: "#"
                      },
                      {
                        name: "McDonalds",
                        href: "#"
                      },
                    ],
                    label: "3",
                    delimeter: ", "
                  }
                },
                {
                  name: "Торговая пл.:",
                  value: {
                    number: "55 000 ",
                    descr: "м2"
                  }
                },
                {
                  name: "Свободная пл.:",
                  value: {
                    number: "11 000 ",
                    descr: "м2"
                  }
                },
                {
                  name: "Парковка:",
                  value: {
                    number: "670 ",
                    descr: "мест"
                  }
                },
              ],
              railway: {
                icon: {
                  color: "green",
                  name: "м"
                },
                name: "Войковская"
              },
              btnGroup: {
                favorite: "fa-star",
                compare: "fa-balance-scale"
              }
            },
            {
              href: "#",
              img: {
                link: "img/category-4.jpg",
                alt: "ТЦ Европейский"
              },
              name: "ТЦ Европейский",
              city: "г. Москва",
              options: [
                {
                  name: "Якорные:",
                  value: {
                    links: [
                      {
                        name: "Ашан",
                        href: "#"
                      },
                      {
                        name: "McDonalds",
                        href: "#"
                      },
                    ],
                    label: "7",
                    delimeter: ", "
                  }
                },
                {
                  name: "Торговая пл.:",
                  value: {
                    number: "45 000 ",
                    descr: "м2"
                  }
                },
                {
                  name: "Свободная пл.:",
                  value: {
                    number: "14 000 ",
                    descr: "м2"
                  }
                },
                {
                  name: "Парковка:",
                  value: {
                    number: "250 ",
                    descr: "мест"
                  }
                }
              ],
              railway: {
                icon: {
                  color: "blue",
                  name: "м"
                },
                name: "Киевская"
              },
              btnGroup: {
                favorite: "fa-star",
                compare: "fa-balance-scale"
              }
            },
            {
              href: "#",
              img: {
                link: "img/category-5.jpg",
                alt: "ТЦ Ереван Плаза"
              },
              name: "ТЦ Ереван Плаза",
              city: "г. Москва",
              options: [
                {
                  name: "Якорные:",
                  value: {
                    links: [
                      {
                        name: "Ашан",
                        href: "#"
                      },
                      {
                        name: "McDonalds",
                        href: "#"
                      },
                    ],
                    label: "2",
                    delimeter: ", "
                  }
                },
                {
                  name: "Торговая пл.:",
                  value: {
                    number: "35 000 ",
                    descr: "м2"
                  }
                },
                {
                  name: "Свободная пл.:",
                  value: {
                    number: "24 000 ",
                    descr: "м2"
                  }
                },
                {
                  name: "Парковка:",
                  value: {
                    number: "550 ",
                    descr: "мест"
                  }
                },
              ],
              railway: {
                icon: {
                  color: "grey",
                  name: "м"
                },
                name: "Тульская"
              },
              btnGroup: {
                favorite: "fa-star",
                compare: "fa-balance-scale"
              }
            },
            {
              href: "#",
              img: {
                link: "img/category-6.jpg",
                alt: "ТЦ Метрополис"
              },
              name: "ТЦ Метрополис",
              city: "г. Москва",
              options: [
                {
                  name: "Якорные:",
                  value: {
                    links: [
                      {
                        name: "Ашан",
                        href: "#"
                      },
                      {
                        name: "McDonalds",
                        href: "#"
                      },
                    ],
                    label: "3",
                    delimeter: ", "
                  }
                },
                {
                  name: "Торговая пл.:",
                  value: {
                    number: "55 000 ",
                    descr: "м2"
                  }
                },
                {
                  name: "Свободная пл.:",
                  value: {
                    number: "11 000 ",
                    descr: "м2"
                  }
                },
                {
                  name: "Парковка:",
                  value: {
                    number: "670 ",
                    descr: "мест"
                  }
                },
              ],
              railway: {
                icon: {
                  color: "green",
                  name: "м"
                },
                name: "Войковская"
              },
              btnGroup: {
                favorite: "fa-star",
                compare: "fa-balance-scale"
              }
            },
            {
              href: "#",
              img: {
                link: "img/category-7.jpg",
                alt: "ТЦ Вегас"
              },
              name: "ТЦ Вегас",
              city: "г. Москва",
              options: [
                {
                  name: "Якорные:",
                  value: {
                    links: [
                      {
                        name: "Ашан",
                        href: "#"
                      },
                      {
                        name: "McDonalds",
                        href: "#"
                      },
                    ],
                    label: "9",
                    delimeter: ", "
                  }
                },
                {
                  name: "Торговая пл.:",
                  value: {
                    number: "110 000 ",
                    descr: "м2"
                  }
                },
                {
                  name: "Свободная пл.:",
                  value: {
                    number: "55 000 ",
                    descr: "м2"
                  }
                },
                {
                  name: "Парковка:",
                  value: {
                    number: "1200 ",
                    descr: "мест"
                  }
                },
              ],
              railway: {
                link: {
                  href: "#",
                  name: "24 км МКАД  Х Каширское ш."
                }
              },
              btnGroup: {
                favorite: "fa-star",
                compare: "fa-balance-scale"
              }
            },
          ],
          btn: {
            name: "Показать еще <br /><span class=\"show-all__visible\">8</span> из <span class=\"show-all__all\">54</span> предложений",
            href: "#",
            icon: "fa fa-angle-double-down"
          }
        },
        details: {
          heading: "Описание",
          text: "«Европейский» удобно расположен между Дорогомиловской улицей и площадью Киевского Вокзала (рядом со станцией метро Киевская). Необычное треугольное здание центра, площадью 180 000 м<sub>2</sub>, построено по проекту известного архитектора Ю.П. Платонова по принципу русских торгов...",
          link: {
            name: "Показать полностью",
            href: "#"
          }
        }
      }, //- catalog
      product: {
        hostname: "product.html",
        title: "Страница ТЦ",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Site name",
            siteName: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "/img/logo/microformat.png"
          }
        },
        breadcrumbs: [
          {
            name: "Главная",
            href: "#"
          },
          {
            name: "Каталог торговых центров",
            href: "#"
          },
          {
            name: "ТЦ «Европейский»",
            href: "#"
          },
        ],
        intro: {
          heading: "Тц «европейский»",
          choice: {
            btn: {
              number: "отправить заявку  на аренду без посредников",
              color: "btn--green"
            },
            btnGroup: {
              favorite: "fa-star",
              compare: "fa-balance-scale"
            }
          },
          street: {
            icon: "fa fa-map-marker",
            text: "пл. Киевского Вокзала, 2, Москва, Россия, 121059"
          }
        },
        navCategory: {
          toggle: "Быстрый переход по разделам",
          links: [
            {
              name: "Информация",
              href: "#"
            },
            {
              name: "Фотогалерея",
              href: "#"
            },
            {
              name: "Видео",
              href: "#"
            },
            {
              name: "Карта",
              href: "#"
            },
            {
              name: "Свободные площади",
              href: "#"
            },
            {
              name: "Описание",
              href: "#"
            },
            {
              name: "Юридическая информация",
              href: "#"
            },
          ]
        },
        info: {
          heading: "Информация о торговом центре",
          btnGroup: {
            pdf: {
              icon: "fa fa-file-pdf-o",
              href: "#"
            },
            print: {
              icon: "fa fa-print",
              href: "#"
            }
          },
          options: [
            {
              name: "город",
              value: {
                number: "москва",
              }
            },
            {
              name: "Наличие метро/отдаленность",
              value: {
                railway: {
                  icon: {
                    color: "blue",
                    name: "м"
                  },
                  name: "Киевская"
                },
              }
            },
            {
              name: "посещяемость",
              value: {
                number: "1200 \\ 302000 \\ 4000000",
              }
            },
            {
              name: "площадь общая",
              value: {
                number: "1000 м2",
              }
            },
            {
              name: "площадь торговая",
              value: {
                number: "250 м2"
              }
            },
            {
              name: "якорные арендаторы",
              value: {
                links: [
                  {
                    name: "Ашан",
                    href: "#"
                  },
                  {
                    name: "McDonalds",
                    href: "#"
                  },
                  {
                    name: "IKEA",
                    href: "#"
                  },
                  {
                    name: "KFZ",
                    href: "#"
                  },
                  {
                    name: "ZARA",
                    href: "#"
                  },
                  {
                    name: "Colin's",
                    href: "#"
                  },
                  {
                    name: "UNIQLO",
                    href: "#"
                  },
                  {
                    name: "ADIDAS",
                    href: "#"
                  },
                  {
                    name: "NIKE",
                    href: "#"
                  },
                  {
                    name: "DKNY",
                    href: "#"
                  },
                ],
                delimeter: ", "
              }
            },
            {
              name: "наличие кинотеатра",
              value: {
                links: [
                  {
                    name: "Формула Кино Европа",
                    href: "#"
                  },
                ],
                delimeter: ", "
              }
            },
            {
              name: "кол-во свободных площадей",
              value: {
                links: [
                  {
                    name: "6 свободных",
                    href: "#"
                  },
                ],
                delimeter: ", "
              }
            },
            {
              name: "парковка",
              value: {
                number: "1200 мест",
              }
            },
          ],
        },
        personal: {
          heading: "контактное лицо",
          img: {
            src: "img/personal.jpg",
            alt: "Петр Дербановский"
          },
          name: "Петр Дербановский",
          post: "менеджер по аренде",
          btn: "Отправить заявку"
        },
        video: {
          src: "//www.youtube.com/embed/i5pj857kLJY?ecver=2"
        },
        catalog: {
          big: [
            {
              src: "img/product-lg-1.jpg",
              alt: "Каталог #1"
            },
            {
              src: "img/product-lg-2.jpg",
              alt: "Каталог #2"
            },
            {
              src: "img/product-lg-3.jpg",
              alt: "Каталог #3"
            },
            {
              src: "img/product-lg-4.jpg",
              alt: "Каталог #4"
            },
          ],
          small: [
            {
              src: "img/product-xs-1.jpg",
              alt: "Каталог #1"
            },
            {
              src: "img/product-xs-2.jpg",
              alt: "Каталог #2"
            },
            {
              src: "img/product-xs-3.jpg",
              alt: "Каталог #3"
            },
            {
              src: "img/product-xs-4.jpg",
              alt: "Каталог #4"
            },
          ],
        },
        map: {
          img: {
            src: "img/map-2.jpg",
            alt: "Карта",
          }
        },
        platform: {
          heading: "Свободные площадки",
          shawAll: {
            href: "#",
            text: "Показать все свободные площадки"
          },
          table: {
            thead: [
              {
                icon: "fa fa-camera"
              },
              {
                name: "наименование"
              },
              {
                name: "площадь"
              },
              {
                name: "этаж"
              },
              {
                name: "торговый профиль"
              },
              {
                name: "аренда"
              },
              {
                name: "срок аренды"
              },
              {
                name: "свободен"
              },
            ],
            tbody: [
              {
                img: {
                  src: "img/platform-1.jpg",
                  alt: "platform 1"
                },
                name: {
                  href: "#",
                  name: "Помещение #1"
                },
                area: "55 м2",
                floor: "1",
                prodile: "Кофейня",
                tenancy: "14 300 руб.м<sup>2</sup>.год",
                term: "от 1 месяца",
                status: {
                  free: "свободен"
                }
              },
              {
                img: {
                  src: "img/platform-2.jpg",
                  alt: "platform 2"
                },
                name: {
                  href: "#",
                  name: "Помещение #2"
                },
                area: "55 м2",
                floor: "1",
                prodile: "Кофейня",
                tenancy: "14 300 руб.м<sup>2</sup>.год",
                term: "от 1 месяца",
                status: {
                  free: "свободен"
                }
              },
              {
                img: {
                  src: "img/platform-3.jpg",
                  alt: "platform 3"
                },
                name: {
                  href: "#",
                  name: "Помещение #1"
                },
                area: "55 м2",
                floor: "1",
                prodile: "Кофейня",
                tenancy: "14 300 руб.м<sup>2</sup>.год",
                term: "от 1 месяца",
                status: {
                  free: "свободен"
                }
              },
              {
                img: {
                  src: "img/platform-4.jpg",
                  alt: "platform 4"
                },
                name: {
                  href: "#",
                  name: "Помещение #1"
                },
                area: "55 м2",
                floor: "1",
                prodile: "Кофейня",
                tenancy: "14 300 руб.м<sup>2</sup>.год",
                term: "от 1 месяца",
                status: {
                  request: "по запросу"
                }
              },
              {
                img: {
                  src: "img/platform-5.jpg",
                  alt: "platform 5"
                },
                name: {
                  href: "#",
                  name: "Помещение #1"
                },
                area: "55 м2",
                floor: "1",
                prodile: "Кофейня",
                tenancy: "14 300 руб.м<sup>2</sup>.год",
                term: "от 1 месяца",
                status: {
                  denied: "с 12.07.2017 г."
                }
              },
              {
                img: {
                  src: "img/platform-3.jpg",
                  alt: "platform 3"
                },
                name: {
                  href: "#",
                  name: "Помещение #1"
                },
                area: "55 м2",
                floor: "1",
                prodile: "Кофейня",
                tenancy: "14 300 руб.м<sup>2</sup>.год",
                term: "от 1 месяца",
                status: {
                  free: "свободен"
                }
              },
            ]
          }
        },
        plan: {
          heading: "Поэтажный план",
          items: [
            {
              img: {
                src: "img/plan-1.jpg",
                alt: "plan1"
              },
              name: "0 уровень"
            },
            {
              img: {
                src: "img/plan-2.jpg",
                alt: "plan2"
              },
              name: "1 уровень"
            },
            {
              img: {
                src: "img/plan-3.jpg",
                alt: "plan3"
              },
              name: "2 уровень"
            },
            {
              img: {
                src: "img/plan-4.jpg",
                alt: "plan4"
              },
              name: "4 уровень"
            },
            {
              img: {
                src: "img/plan-5.jpg",
                alt: "plan5"
              },
              name: "5 уровень"
            },
            {
              img: {
                src: "img/plan-6.jpg",
                alt: "plan6"
              },
              name: "6 уровень"
            },
          ]
        },
        legal: {
          heading: "Юридическая информация",
          pdf: {
            icon: "fa fa-file-pdf-o",
            text: "Договор аренды",
            href: "#"
          },
          download: {
            name: "скачать",
            href: "#"
          },
          term: {
            heading: "Срок аренды",
            text: "От 11 до 20 лет"
          }
        },
        featured: {
          heading: "Похожие предложения",
          items: [           
            {
              href: "#",
              img: {
                link: "img/category-4.jpg",
                alt: "ТЦ Европейский"
              },
              name: "ТЦ Европейский",
              city: "г. Москва",
              options: [
                {
                  name: "Якорные:",
                  value: {
                    links: [
                      {
                        name: "Ашан",
                        href: "#"
                      },
                      {
                        name: "McDonalds",
                        href: "#"
                      },
                    ],
                    label: "7",
                    delimeter: ", "
                  }
                },
                {
                  name: "Торговая пл.:",
                  value: {
                    number: "45 000 ",
                    descr: "м2"
                  }
                },
                {
                  name: "Свободная пл.:",
                  value: {
                    number: "14 000 ",
                    descr: "м2"
                  }
                },
                {
                  name: "Парковка:",
                  value: {
                    number: "250 ",
                    descr: "мест"
                  }
                }
              ],
              railway: {
                icon: {
                  color: "blue",
                  name: "м"
                },
                name: "Киевская"
              },
              btnGroup: {
                favorite: "fa-star",
                compare: "fa-balance-scale"
              }
            },
            {
              href: "#",
              img: {
                link: "img/category-5.jpg",
                alt: "ТЦ Ереван Плаза"
              },
              name: "ТЦ Ереван Плаза",
              city: "г. Москва",
              options: [
                {
                  name: "Якорные:",
                  value: {
                    links: [
                      {
                        name: "Ашан",
                        href: "#"
                      },
                      {
                        name: "McDonalds",
                        href: "#"
                      },
                    ],
                    label: "2",
                    delimeter: ", "
                  }
                },
                {
                  name: "Торговая пл.:",
                  value: {
                    number: "35 000 ",
                    descr: "м2"
                  }
                },
                {
                  name: "Свободная пл.:",
                  value: {
                    number: "24 000 ",
                    descr: "м2"
                  }
                },
                {
                  name: "Парковка:",
                  value: {
                    number: "550 ",
                    descr: "мест"
                  }
                },
              ],
              railway: {
                icon: {
                  color: "grey",
                  name: "м"
                },
                name: "Тульская"
              },
              btnGroup: {
                favorite: "fa-star",
                compare: "fa-balance-scale"
              }
            },
            {
              href: "#",
              img: {
                link: "img/category-6.jpg",
                alt: "ТЦ Метрополис"
              },
              name: "ТЦ Метрополис",
              city: "г. Москва",
              options: [
                {
                  name: "Якорные:",
                  value: {
                    links: [
                      {
                        name: "Ашан",
                        href: "#"
                      },
                      {
                        name: "McDonalds",
                        href: "#"
                      },
                    ],
                    label: "3",
                    delimeter: ", "
                  }
                },
                {
                  name: "Торговая пл.:",
                  value: {
                    number: "55 000 ",
                    descr: "м2"
                  }
                },
                {
                  name: "Свободная пл.:",
                  value: {
                    number: "11 000 ",
                    descr: "м2"
                  }
                },
                {
                  name: "Парковка:",
                  value: {
                    number: "670 ",
                    descr: "мест"
                  }
                },
              ],
              railway: {
                icon: {
                  color: "green",
                  name: "м"
                },
                name: "Войковская"
              },
              btnGroup: {
                favorite: "fa-star",
                compare: "fa-balance-scale"
              }
            },
            {
              href: "#",
              img: {
                link: "img/category-7.jpg",
                alt: "ТЦ Вегас"
              },
              name: "ТЦ Вегас",
              city: "г. Москва",
              options: [
                {
                  name: "Якорные:",
                  value: {
                    links: [
                      {
                        name: "Ашан",
                        href: "#"
                      },
                      {
                        name: "McDonalds",
                        href: "#"
                      },
                    ],
                    label: "9",
                    delimeter: ", "
                  }
                },
                {
                  name: "Торговая пл.:",
                  value: {
                    number: "110 000 ",
                    descr: "м2"
                  }
                },
                {
                  name: "Свободная пл.:",
                  value: {
                    number: "55 000 ",
                    descr: "м2"
                  }
                },
                {
                  name: "Парковка:",
                  value: {
                    number: "1200 ",
                    descr: "мест"
                  }
                },
              ],
              railway: {
                link: {
                  href: "#",
                  name: "24 км МКАД  Х Каширское ш."
                }
              },
              btnGroup: {
                favorite: "fa-star",
                compare: "fa-balance-scale"
              }
            },
          ],
          btn: {
            name: "Еще предложения",
            href: "#",
            icon: "fa fa-angle-double-down"
          }
        },
        details: {
          heading: "Описание",
          text: "«Европейский» удобно расположен между Дорогомиловской улицей и площадью Киевского Вокзала (рядом со станцией метро Киевская). Необычное треугольное здание центра, площадью 180 000 м<sub>2</sub>, построено по проекту известного архитектора Ю.П. Платонова по принципу русских торгов...",
          link: {
            name: "Показать полностью",
            href: "#"
          }
        }
      } //- product
    }