section.product-thumb
  .container
    .row
      .col-24.col-lg-14
        .product-thumb__item
          include ./_info.pug
      .col-24.col-md-12.col-lg-10
        .product-thumb__item
          include ./_personal.pug
      .col-24.col-md-12.col-lg-10
        .product-thumb__item
          include ./_video.pug
      .col-24.col-lg-14
        .product-thumb__item
          include ./_map.pug
      .col-24.col-md-12.col-lg-10
        .product-thumb__item
          include ./_catalog.pug
      .col-24
        .product-thumb__item
          include ./_platform.pug
      .col-24.col-md-12
        .product-thumb__item
          include ./_plan.pug
      .col-24.col-md-12
        .product-thumb__item
          include ./_legal-info.pug