//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$preloader-bg:                     #17607d
$preloader-color:                  #fff

$font-sans-serif:                  sans-serif
$main-font:                        'Muller', $font-sans-serif

$text-danger:                      #b94a48
$form-control-error-border-color:  #b94a48

$heading-color:                    #fff
$sub-heading-color:                #424242
$sub-heading-orange-color:         #f9651e
$sub-heading-orange-border:        #f9651e

$hover-ratio:                      1.4

//== Buttons
//
//## For each buttons, define text, background and border color.

$btn-default-color:                #fff
$btn-default-bg:                   #ff5609
$btn-default-bgi:                  linear-gradient(to right, #ff3200 0%, #ff7512 100%)
$btn-default-border:               #474747
$btn-default-descr-color:          rgba(255,255,255,0.44)
$btn-default-bg-hover:             #ff3300 * 0.9
$btn-default-shadow-hover:         0 10px 50px 1px rgba(0,0,0, .44)

$btn-round-color:                  #303030
$btn-round-bg:                     transparent
$btn-round-border:                 #474747

$btn-rounded-color:                #fff
$btn-rounded-border:               #fff
$btn-rounded-color-hover:          #0f5a91
$btn-rounded-bg-hover:             #fff

$btn-shop-bg:                      transparent
$btn-shop-border:                  #acacac
$btn-shop-color:                   #acacac
$btn-shop-border-hover:            #006cac
$btn-shop-color-hover:             #006cac

$btn-submit-loading-bg:            linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent)

$link-color:                       #0652a0
$link-color-hover:                 $link-color * $hover-ratio

$slick-dots-bg-inverse:            #fff
$slick-dots-border-inverse:        #fff
//== header
//
//##
$header-bg:                        #0571b1
$header-bgi:                       url(../img/header-bg.jpg)
$header-color:                     #fff
$header-border:                    #fff
$header-btn-inverse-shadow-hover:  0 10px 50px 1px rgba(255, 255, 255, .44)

//== Logo
$logo-color:                       #fff

//== Work
$work-bg:                          #fff
$work-border:                      #e8e8e8

//== Service
$service-bg:                       #f6f6f6
$service-heading-color:            #aaa
$service-name-color:               #333
$service-descr-color:              #8d8d8d

//== Panel
$panel-bg:                         #fff
$panel-shadow:                     0 2.688rem 3.875rem rgba(176, 176, 176, 0.31)
$panel-control-link-color:         #303030
$panel-control-border:             #474747

//== Process
$process-bg:                       #fff
$process-name-color:               #282828
$process-descr-color:              #282828
$process-indicator-active-color:   rgba(40, 40, 40, .44)
$process-indicator-color:          #282828
$process-indicator-border:         rgba(40, 40, 40, .44)

//== Shop
$shop-bg:                          #f6f6f6

//== Presentation
$presentation-declimer:            #282828
$presentation-border:              #e8e8e8
$presentation-item-shadow:         0 2.688rem 3.875rem rgba(190, 190, 190, 0.31)

//== About
//
//##
$about-bg:                         #f6f6f6
$about-text-color:                 #616161

//== Footer
$footer-bg:                        #323232
$footer-heading-color:             #fff
$footer-heading-border:            #fff
$footer-link-color:                #f1f1f1

//== Copyright
$copyright-bg:                     #282828
$copyright-text-color:             #f1f1f1

//== Category Page
//
//##

//== Category
$category-bg:                      #f6f6f6

//== Product
$product-bg:                       #fff
$product-border-hover:             #4384ca
$product-name-color:               #6b6b6b
$product-name-color-hover:         $link-color
$product-descr-color:              #979797

//== Option
$option-key-color:                 #979797
$option-value-color:               #4d4d4d
$option-descr-color:               #919191

//== Tags
$tags-link-color:                  #1e67a0
$tags-link-color-hover:            $tags-link-color * $hover-ratio
$tags-quantity-bg:                 #2c75c4
$tags-quantity-color:              #f5f8f9

//== Railway
$railway-color:                    #6b6b6b
$railway-icon-bg:                  #2c75c4
$railway-icon-bg-gray:             #858585
$railway-icon-bg-green:            #3faf5f
$railway-icon-color:               #fff
$railway-link-color:               #2c75c4
$railway-link-color-hover:         $railway-link-color * $hover-ratio
$railway-link-border:              #2c75c4
$railway-link-border-hover:        $railway-link-border * $hover-ratio

//= Favorite
$favorite-icon-color:             #c3c3c3
$favorite-icon-color-hover:       #ed8a19
$favorite-icon-color-active:      #ed8a19

//== Compare
$compare-icon-color:              #c3c3c3
$compare-icon-color-hover:        #2c75c4
$compare-icon-color-active:       #2c75c4

//== Show all link
$show-all-link-color:             #aaaaaa
$show-all-link-color-hover:       $link-color
$show-all-link-border:            #aaaaaa
$show-all-link-border-hover:      $link-color

//== Details
//
//##

$details-bg:                      #f6f6f6
$details-container-bg:             #fff
$details-link: 					   #2c75c4
$details-link-hover:               $details-link * $hover-ratio
