//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$preloader-bg:                     #17607d
$preloader-color:                  #fff

$font-sans-serif:                  sans-serif
$main-font:                        'Muller', $font-sans-serif

$text-danger:                      #b94a48
$form-control-error-border-color:  #b94a48

$heading-color:                    #fff
$sub-heading-color:                #424242
$sub-heading-orange-color:         #f9651e
$sub-heading-orange-border:        #f9651e
$h3-heading:                       #555

$hover-ratio:                      1.4

//== Buttons
//
//## For each buttons, define text, background and border color.

$btn-default-color:                #fff
$btn-default-bg:                   #ff5609
$btn-default-bgi:                  linear-gradient(to right, #ff3200 0%, #ff7512 100%)
$btn-default-border:               #474747
$btn-default-descr-color:          rgba(255,255,255,0.44)
$btn-default-bg-hover:             #ff3300 * 0.9
$btn-default-shadow-hover:         0 10px 50px 1px rgba(0,0,0, .44)

$btn-round-color:                  #303030
$btn-round-bg:                     transparent
$btn-round-border:                 #474747

$btn-rounded-color:                #fff
$btn-rounded-border:               #fff
$btn-rounded-color-hover:          #0f5a91
$btn-rounded-bg-hover:             #fff

$btn-shop-bg:                      transparent
$btn-shop-border:                  #acacac
$btn-shop-color:                   #acacac
$btn-shop-border-hover:            #006cac
$btn-shop-color-hover:             #006cac

$btn-blue-bg:                      #4796cc
$btn-blue-color:                   #fff
$btn-blue-bg-hover:                $btn-blue-bg * $hover-ratio

$btn-green-bg:                     #a4df4f
$btn-green-color:                  #fff
$btn-green-color-hover:            #a4df4f
$btn-green-bg-hover:               #fff
$btn-green-box-shadow-hover:       0 0 0 0.25rem #a4df4f

$btn-submit-loading-bg:            linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent)

$link-color:                       #0652a0
$link-color-hover:                 $link-color * 1.2

$slick-dots-bg-inverse:            #fff
$slick-dots-border-inverse:        #fff

//== Main Page
//
//##

//== header
$header-bg:                        #0571b1
$header-bgi:                       url(../img/header-bg.jpg)
$header-color:                     #fff
$header-border:                    #fff
$header-btn-inverse-shadow-hover:  0 10px 50px 1px rgba(255, 255, 255, .44)

//== Logo
$logo-color:                       #fff

//== Work
$work-bg:                          #fff
$work-border:                      #e8e8e8

//== Service
$service-bg:                       #f6f6f6
$service-heading-color:            #aaa
$service-name-color:               #333
$service-descr-color:              #8d8d8d

//== Panel
$panel-bg:                         #fff
$panel-shadow:                     0 2.688rem 3.875rem rgba(176, 176, 176, 0.31)
$panel-control-link-color:         #303030
$panel-control-border:             #474747

//== Process
$process-bg:                       #fff
$process-name-color:               #282828
$process-descr-color:              #282828
$process-indicator-active-color:   rgba(40, 40, 40, .44)
$process-indicator-color:          #282828
$process-indicator-border:         rgba(40, 40, 40, .44)

//== Shop
$shop-bg:                          #f6f6f6

//== Presentation
$presentation-declimer:            #282828
$presentation-border:              #e8e8e8
$presentation-item-shadow:         0 2.688rem 3.875rem rgba(190, 190, 190, 0.31)

//== About
$about-bg:                         #f6f6f6
$about-text-color:                 #616161

//== Footer
$footer-bg:                        #323232
$footer-heading-color:             #fff
$footer-heading-border:            #fff
$footer-link-color:                #f1f1f1

//== Copyright
$copyright-bg:                     #282828
$copyright-text-color:             #f1f1f1

//== Category Page
//
//##

//== Navbar
$nav-item-bg-active:               #0275d8
$nav-item-color-active:            #fff
$nav-item-bg-hover:                #f7f7f9
$nav-link-color:                   #282828
$nav-link-color-hover:             $nav-link-color * $hover-ratio
$dropdown-navbar-color:            rgba(40, 40, 40, 0.29)

//== User-btn
$user-btn-border:                  rgba(0,0,0,.1)
$user-btn-compare:                 #4d9cd2
$user-btn-favorite:                #ed8a19
$user-btn-name-color:              #282828
$user-btn-name-color-hover:        $link-color
$user-btn-number-bg:               #000
$user-btn-number-bgi:              linear-gradient(to top, #eee 0%, #eee 100%)
$user-btn-number-color:            #4d9cd2
$user-btn-number-reverse-color:    #fff
$user-btn-icon-compare-bg:         #000
$user-btn-icon-compare-bgi:        linear-gradient(to top, #4d9cd2 0%, #4d9cd2 100%)

//== Intro
$intro-bg:                         #dee5ef
$intro-bgi:                        url(../img/header-inside-bg.jpg)
$intro-bgi-xs:                     url(../img/header-inside-bg-xs.jpg)
$intro-heading-color:              #424242

//== Choice
$choice-text-color:                #424242

//== Breadcrumbs
$breadcrumbs-color:                #424242
$breadcrumbs-color-hover:          $link-color

//== Filter

//== Search
$search-heading:                   #4796cc
$search-input-bg:                  #f5f8f9
$search-input-border:              #ecf1f2
$search-input-color:               #282828

//== Disperse
$disperse-heading-color:           #939a9e
$disperse-heading-active-color:    #4796cc
$disperse-heading-hover-color:     #4796cc
$disperse-icon-up:                 "\f077"
$disperse-icon-down:               "\f078"
$disperse-hint-color:              #63696d
$disperse-hint-link-color:         #aeb1b2
$disperse-hint-link-color-hover:   $disperse-hint-link-color * $hover-ratio

//== Select2
$select2-border:                   #cdd4d8
$select2-selection-arrow-bg:       #cdd4d8
$select2-selection-line-bg:        #ecf1f2

$select2-selection-bg:             #f5f8f9
$select2-selection-color:          #4796cc
$select2-selection-border:         #4796cc
$select2-choice-color:             #fff
$select2-choice-bg:                #5cb85c
$select2-choice-red-bg:            #d9534f
$select2-choice-border:            #52ae52
$select2-remove-color:             rgba(0,0,0,.3)

//== Sort
$sort-bg:                          #f6f6f6
$sort-heading-color:               #878787
$dropdown-plane-bg:                rgba(255,255,255,.42)
$dropdown-plane-bgi:               linear-gradient(to top, rgba(215, 215, 215, 0.03) 0%, rgba(255, 255, 255, 0.03) 100%)
$dropdown-plane-border:            #ebebeb
$dropdown-plane-color:             #424242
$sorting-color:                    #424242
$sorting-active-color:             #4796cc

//== View
$view-color:                       #424242
$view-active-color:                #4796cc
$view-icon-active:                 #1e679f

//== Category
$category-bg:                      #f6f6f6

//== Product
$product-bg:                       #fff
$product-border-hover:             #4384ca
$product-name-color:               #6b6b6b
$product-name-color-hover:         $link-color
$product-descr-color:              #979797

//== Option
$option-key-color:                 #979797
$option-key-dark-color:            #000
$option-value-color:               #4d4d4d
$option-descr-color:               #919191

//== Tags
$tags-link-color:                  #1e67a0
$tags-link-color-hover:            $tags-link-color * $hover-ratio
$tags-quantity-bg:                 #2c75c4
$tags-quantity-color:              #f5f8f9

//== Railway
$railway-color:                    #6b6b6b
$railway-icon-bg:                  #2c75c4
$railway-icon-bg-gray:             #858585
$railway-icon-bg-green:            #3faf5f
$railway-icon-color:               #fff
$railway-link-color:               #2c75c4
$railway-link-color-hover:         $railway-link-color * $hover-ratio
$railway-link-border:              #2c75c4
$railway-link-border-hover:        $railway-link-border * $hover-ratio

//= Favorite
$favorite-icon-color:             #c3c3c3
$favorite-icon-color-hover:       #ed8a19
$favorite-icon-color-active:      #ed8a19


//== Compare
$compare-icon-color:              #c3c3c3
$compare-icon-color-hover:        #2c75c4
$compare-icon-color-active:       #2c75c4

//== Show all link
$show-all-link-color:             #aaaaaa
$show-all-link-color-hover:       $link-color
$show-all-link-border:            #aaaaaa
$show-all-link-border-hover:      $link-color

//== Details

$details-bg:                      #f6f6f6
$details-container-bg:            #fff
$details-link: 					  #2c75c4
$details-link-hover:              $details-link * $hover-ratio

//== Product Page
//
//##

//== Street
$street-color:                    rgba(0,0,0,.66)
$street-icon-color:               rgba(0,0,0,.44)

//== Navbar Content
$navbar-content-bg:               #fff
$navbar-content-box-shadow:       0 0.125rem 0.375rem rgba(0, 0, 0, 0.05)
$navbar-toggler-content-bgi:      linear-gradient(to top, #ededed 0%, white 100%)
$navbar-toggler-content-border:   #b8bdc4
$navbar-toggler-content-shadow:   0.031rem 0.056rem 0.063rem rgba(0, 0, 0, 0.05)
$navbar-toggler-content-color:    #9aa1a4
$nav-content-link-color:          #b9b9b9
$nav-content-link-color-hover:    $nav-content-link-color * $hover-ratio
$nav-content-link-bg-hover:       #b9b9b9

//== Product-thumb
$product-thumb-bg:                 #f6f6f6
$product-thumb-item-bg:            #fff

//== Personal
$personal-bg:                      #555
$personal-heading-border:          #555
$personal-name-color:              #555
$personal-post-color:              #555