+comment('page catalog style')

+comment('section navbar style')
+cm('bootstrap why you don\'t use bem?')
.navbar
  padding: 0.75rem 0
  &__row
    width: 100% 
.navbar-light
  .navbar-toggler
    border-color: transparent
  .navbar-nav 
    .nav-link
      font: 700 0.75rem/1rem $main-font
      color: $nav-link-color
      text-transform: uppercase
      &:hover,
      &:focus
        color: $nav-link-color-hover
        background: $nav-item-bg-hover
.navbar-toggler
  &:focus
    outline: none
.navbar-collapse
  width: 100%
.nav-item
  text-align: center
.dropdown
  &--navbar
    padding: 0
    width: 100%
  &__toggle
    &--navbar
      color: $nav-link-color
      border: none 
    &:hover,
    &:focus
      color: $nav-link-color-hover
      border: none 
    &:active
      background: none
  &__text
    border-bottom: 0.0625rem dashed $dropdown-navbar-color
    &:hover,
    &:focus
      border-bottom: 0.0625rem dashed $nav-link-color-hover
  &__item
    font: 700 0.75rem/1rem $main-font
    color: $nav-link-color
    text-transform: uppercase

.dropdown-menu
  &--navbar
    border: 0 none
    text-align: center
.logo
  &--inside
    width: 2.125rem
    overflow: hidden
  &__img
    &--inside
      width: auto
.user-btn
  margin-bottom: 0
  padding: 0
  list-style: none
  text-align: right
  &__item
    display: inline-flex
    padding: 0 1.25rem
    border-left: 0.0625rem dashed $user-btn-border
    &:first-of-type
      border-left-color: transparent
    &:last-of-type
      padding-right: 0
  &__link
    position: relative
    font: 500 0.813rem/0.9375rem $main-font
    color: $user-btn-name-color
    text-transform: uppercase
    transition: all .3s ease-out
    &:active
      opacity: .7
      color: $user-btn-name-color-hover
  &__icon
    position: relative
    font-size: 1.5rem
    &--favorite
      color: $user-btn-favorite
    &--compare
      color: $user-btn-compare
  &__number
    position: absolute
    display: inline-flex
    align-items: center
    justify-content: center
    width: 1rem
    height: 1rem
    top: -0.375rem
    right: -0.5rem
    border-radius: 50%
    background: $user-btn-number-bg $user-btn-number-bgi no-repeat scroll 0 0
    font: 500 0.625rem/0.75rem $main-font
    color: $user-btn-number-color
+rx(767)
  .navbar
    &__container
      width: 100%
+r(768)
  .logo
    &--inside
      width: auto
  .nav-link
    padding-top: 0
    padding-bottom: 0
  .dropdown
    &__toggle
      &--navbar
        color: $dropdown-navbar-color
    &__icon
      margin-right: 0.5rem
  .dropdown-menu
    text-align: left
    border: 1px solid rgba(0, 0, 0, 0.15)
+r(992)
  .user-btn
    &__item
      padding: 0 2.5rem
    &__icon
      position: absolute
      top: -1rem
      right: -0.75rem
      &--compare
        width: 1rem
        height: 1rem
        top: -0.625rem
        border-radius: 50% 
        background: $user-btn-icon-compare-bg $user-btn-icon-compare-bgi no-repeat scroll 0 0
        &:before
          content: none
    &__number
      margin: auto
      top: 0.125rem
      left: 0
      bottom: 0
      right: 0
      background: none
      color: $user-btn-number-reverse-color
+comment('section filter style')
.filter

.search
  &__heading
    margin: 0.375rem 0
    font: 700 0.75rem/0.875rem $main-font
    color: $search-heading
    letter-spacing: 0.0625rem
  &__icon
    margin-right: 0.25rem
  &__input
    padding: 0 1.625rem
    width: 100%
    background-color: $search-input-bg
    border: 0.063rem solid $search-input-border
    border-radius: 0
    font: 700 0.875rem/2.75rem $main-font
    color: $search-input-color
    &::placeholder
      opacity: 1
      transition: all .3s ease-out
    &:focus
      &::placeholder
        opacity: 0
.disperse
  padding: 0.625rem 0
  width: 100%
  &__item
    &:before
      content: none
      display: block
      position: absolute
      width: 0.438rem
      height: 0.438rem
      top: 0.625rem
      right: 1rem
      border-radius: 50%
      background: $disperse-heading-color
    &--open
      &:before
        background: $disperse-heading-active-color
  &__heading
    font-size: 1.5rem
    color: $disperse-heading-color
    transition: all .3s ease-out
    &:hover,
    &:focus
      color: $disperse-heading-hover-color
      text-decoration: none
      .disperse__icon
        border-bottom-color: $disperse-heading-hover-color
    &:after
      content: $disperse-icon-down
      display: inline-block
      font: normal normal normal 14px/1 FontAwesome
      font-size: 0.75rem
      text-rendering: auto
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale
    &--active
      color: $disperse-heading-active-color
      .disperse__icon
        color: $disperse-heading-active-color
        border-bottom-color: $disperse-heading-active-color
        &:after
          background: $disperse-heading-active-color
    &--open
      color: $disperse-heading-active-color
      &:hover,
      &:focus
        opacity: .7
      &:after
        content: $disperse-icon-up

  &__icon
    position: relative
    padding: 0.4375rem 0
    border-bottom: 0.125rem dashed $disperse-heading-color
    &--grey
      color: $disperse-heading-color
      &:after
        content: ''
        display: block
        position: absolute
        width: 0.125rem
        height: 100%
        background: $disperse-heading-color
        left: 50%
        top: 0
        transform: rotate(45deg)
  &__text
    display: inline
  &__col
    margin: 1rem 0
    display: none
    &--active
      display: block
  &__group
    position: relative
  &__control
    position: absolute
    top: 50%
    left: 40%
    background-color: $select2-selection-bg
    border-bottom: 0.063rem dashed $select2-selection-border
    transform: translate(-50%, -50%)
    font: 700 0.75rem/0.875rem $main-font
    color: $select2-selection-color
    text-transform: uppercase
    &:hover,
    &:focus
      color: $select2-selection-color
      text-decoration: none
  &__hint
    margin-top: 0.5rem
    font: 500 0.625rem/0.75rem $main-font
    color: $disperse-hint-color
    text-transform: uppercase
  &__link 
    font: 400 0.75rem/0.875rem $main-font
    color: $disperse-hint-link-color
    text-decoration: underline
    text-transform: none
    transition: all .3s ease-out
    &:hover,
    &:focus
      color: $disperse-hint-link-color
      opacity: .9
+cm('Oh God, why?')
.select2-container
  width: 100% !important
  .select2-selection--single,
  .select2-selection--multiple
    padding-right: 2.75rem
    min-height: 2.25rem
    overflow: hidden
    background-color: $select2-selection-bg
    border: 0.063rem solid $select2-border
    border-radius: 0
    &:before
      content: ''
      position: absolute
      width: 0.0625rem
      height: 70%
      top: 0
      bottom: 0
      right: 2.688rem
      margin: auto
      background: $select2-selection-line-bg
    &:after
      content: ''
      position: absolute
      display: block
      width: 0
      height: 0
      top: 50%
      right: 1.125rem
      transform: translateY(-50%)
      border-style: solid
      border-width: 0.3125rem 0.3125rem 0 0.3125rem
      border-color: $select2-border transparent transparent transparent
      transition: all .3s ease-out
    .select2-selection
      &:focus
        outline: none
      &__arrow
        display: none
  &--open
    .select2-selection--single,
    .select2-selection--multiple
      &:after
        transform: rotate(180deg)
        transform-origin: 50% 0
  .select2-selection--multiple 
    .select2-selection__choice
      position: relative
      padding: 0.5rem 0.5rem 0.25rem
      padding-right: 1.5rem
      background-color: $select2-choice-bg
      border: 0 none
      border-radius: 0.25rem
      font: 700 0.75rem/0.75rem $main-font
      color: $select2-choice-color
      text-transform: uppercase
    .select2-selection__choice__remove
      position: absolute
      width: 0.563rem
      height: 0.563rem
      top: 50%
      transform: translateY(-50%)
      right: 0.5rem
      font-size: 1.5rem
      line-height: 0.75rem
      color: $select2-remove-color
      transition: all .3s ease-out
      z-index: 4
  .select2-selection--single 
    .select2-selection__rendered
      font: 500 0.813rem/2.25rem $main-font
  &--default
    .select2-selection--multiple 
      li.select2-selection__choice
        &:first-of-type
          float: right
  &--red
    .select2-selection--multiple 
      .select2-selection__choice
        background: $select2-choice-red-bg
+r(768)
  .disperse
    &__item
      &:before
        content: ''
    &__col
      display: block
      margin: 0.5rem 0
    &__heading
      padding: 0.375rem 0
      font: 700 0.875rem/0.875rem $main-font
    &__icon
      border: 0 none
    &__text
      padding: 0 0.625rem
    &__content
      display: none
      &--open
        display: block
    &__icon
      &--grey
        &:after
          width: 0.0625rem
  .select2-container
    .select2-selection--single,
    .select2-selection--multiple
      min-height: 2.875rem

    .select2-selection--multiple 
      .select2-selection__choice
        padding: 0.75rem 1.5rem 0.625rem 0.75rem
    .select2-selection--single
      .select2-selection__rendered
        line-height: 3rem 
+r(992)
  .disperse
    &__item
      display: block !important
      &:before
        content: none
    &__content
      display: block
    &__heading
      font-size: 0.875rem
      line-height: 1rem
      color: $disperse-heading-active-color
      &:after
        content: none
    &__text
      padding: 0 0.25rem
    &__control
      left: 38%
+r(1344)
  .disperse
    &__heading
+comment('section intro style')
.intro
  padding: 1.25rem 0 1rem
  background: $intro-bg $intro-bgi-xs no-repeat scroll 50% 50%
  &__heading
    margin: 0
    font: 700 0.875rem/1rem $main-font
    color: $intro-heading-color
    text-transform: uppercase
    text-align: left
    letter-spacing: 0.0625rem
.choice
  text-align: right
  &__text
    font: 500 0.875rem/1rem $main-font
    color: $choice-text-color
.btn--blue
  border-radius: 1.188rem
  background-color: $btn-blue-bg
  font: 500 0.875rem/1rem $main-font
  color: $btn-blue-color
  transition: all .3s ease-out
  &:hover,
  &:focus
    background-color: $btn-blue-bg-hover
+r(768)
  .intro
    padding: 2rem 0 1.625rem
    background-image: $intro-bgi
    background-size: cover
  .choice
    &__text
      padding: 0 0.75rem
  .btn--blue
    padding: 0.6875rem 1.188rem
+r(992)
  .intro
    &__heading
      font-size: 1rem
      line-height: 1.125rem
  .choice
  .btn--blue
    padding: 0.875rem 1.688rem
    border-radius: 1.563rem
+r(1344)
  .intro
    &__heading
      font-size: 1.25rem
      line-height: 1.375rem
    .choice
      &__text
        font-size: 1.125rem
        line-height: 1.25rem
    .btn--blue
      border-radius: 1.813rem
      font-size: 1.125rem
      line-height: 1.25rem

+cm('breadcrumbs')
.breadcrumbs    
  padding: 0
  margin-bottom: 1.25rem
  list-style: none
  &__item
    position: relative
    display: inline
    padding-right: 1rem
    font: 400 0.75rem/0.875rem $main-font
    color: $breadcrumbs-color
    line-height: 0.125rem
    &:before
      content: '\003e'
      position: absolute
      display: block
      left: -0.5rem
      top: 50%
      transform: translate(-50%, -50%)
    &:first-of-type
      &:before
        content: none
  &__link
    color: inherit
    transition: all .3s ease-out
    &:hover,
    &:focus
      color: $breadcrumbs-color-hover
+comment('section filter style')
.disperse
  &__select
    width: 100% 
+comment('section sort style')
.sort
  padding: 0.75rem 0 0
  background-color: $sort-bg
  &__heading
    margin: 0
    font: 600 0.688rem/0.8125rem $main-font
    color: $sort-heading-color
  &__link
    padding: 0.5rem 0
.sorting
  font: 600 0.688rem/0.8125rem $main-font
  color: $sorting-color
  transition: all .3s ease-out
  &:hover,
  &:focus
    color: $sorting-active-color
    text-decoration: none
  &--active
    color: $sorting-active-color
    &:hover,
    &:focus
      color: $sorting-active-color
      opacity: 1
  &--down
    .sorting__icon--up
      display: none
  &--up
    .sorting__icon--down
      display: none
  &__name
    margin-right: 0.1875rem
  &__icon
    font-size: 0.625rem

.dropdown
  &-menu
    &--fullwidth
      width: 100%
  &--sorting
    display: block
  &__toggle
    &--sorting
      position: relative
      display: flex
      justify-content: center
      align-items: center
      background-color: $dropdown-plane-bg
      background-image: $dropdown-plane-bgi
      border: 0.063rem solid $dropdown-plane-border
      border-radius:  0.9375rem
      padding: 0.5rem 1rem
      font: 600 0.625rem/0.75rem $main-font
      color: $dropdown-plane-color
      transition: all .3s ease-out
      cursor: pointer
      &:hover,
      &:focus
        border: 0.063rem solid $dropdown-plane-border
        color: $dropdown-plane-color
        text-decoration: none
        opacity: .85
.view
  font: 600 0.688rem/0.8125rem $main-font
  color: $view-color
  transition: all .3s ease-out
  &:hover,
  &:focus
    color: $view-active-color
    text-decoration: none
  &--active
    color: $view-active-color
    .view__icon
      color: $view-icon-active
  &__icon
    margin-right: 0.375rem
+r(768)
  .sort
    padding: 1.25rem 0 0
+r(992)
  .sort
    &__heading
      font-size: 0.75rem
      line-height: 0.875rem
  .sorting
    font-size: 0.75rem
    line-height: 0.875rem
  .view
    font-size: 0.75rem
    line-height: 0.875rem
+comment('section category style')
.category
  padding: 0.625rem 0 0.25rem
  background-color: $category-bg
  &__layout
    &--hidden
      display: none
.product
  margin: 0.5rem 0
  background-color: $product-bg
  align-items: stretch
  transition: all .3s ease-out
  &:hover
    box-shadow: 0 0 0.0625rem 0.0625rem $product-border-hover, 0 0 1rem 0.0625rem rgba($product-border-hover, .25)
  &__content
    padding: 1rem 1.25rem
  &__photo
    display: block
    overflow: hidden
    text-align: center
    &:hover,
    &:focus
      text-decoration: none
  &__img
    margin: 0 auto
    transform: scale(1.05)
    filter: grayscale(0) blur(0)
    transition: all .3s ease-out
    &:hover,
    &:focus
      transform: scale(1.25)
      filter: grayscale(100%) blur(0.1875rem)
  &__name
    display: block
    padding: 0.875rem 0 0.25rem
    font: 700 0.875rem/1rem $main-font
    color: $product-name-color
    letter-spacing: 0.0625rem
    transition: all .3s ease-out
    &:hover,
    &:focus
      color: $product-name-color-hover
      text-decoration: none
  &__descr
    padding: 0.125rem 0
    font: 400 0.563rem/0.6875rem $main-font
    color: $product-descr-color
    letter-spacing: 0.0625rem
  &__btn-group
    text-align: right
  &__btn
    margin: 0 0.25rem
    padding: 0
.option
  padding: 0.625rem 0 0.9375rem
  &__item
    padding: 0.25rem 0
  &__name
    font: 400 0.563rem/0.6875rem $main-font
    color: $option-key-color
    letter-spacing: 0.0625rem
    &--dark
      color: $option-key-dark-color
  &__value
    font: 700 0.563rem/0.6875rem $main-font
    color: $option-value-color
  &__descr
    font-weight: 400
    color: $option-descr-color
.tags
  position: relative
  &__link
    font: 700 0.563rem/0.6875rem $main-font
    color: $tags-link-color
    text-decoration: underline
    transition: all .3s ease-out
    &:hover,
    &:focus
      color: $tags-link-color-hover
  &__quantity
    position: absolute
    display: inline-flex
    vertical-align: middle
    align-items: center
    justify-content: center
    right: -0.1875rem
    top: 50%
    transform: translateY(-50%)
    width: 0.875rem
    height: 0.875rem
    background-color: $tags-quantity-bg
    border-radius: 50%
    font: 700 0.563rem/0.563rem $main-font
    color: $tags-quantity-color
    text-transform: uppercase
.railway
  font: 700 0.688rem/0.8125rem $main-font
  color: $railway-color
  text-align: left
  letter-spacing: 0.0625rem
  &__icon
    display: inline-flex
    vertical-align: middle
    align-items: center
    justify-content: center
    margin-right: 0.6875rem
    width: 0.875rem
    height: 0.875rem
    border-radius: 50%
    background-color: $railway-icon-bg
    font: 700 0.563rem/0.563rem $main-font
    color: $railway-icon-color
    &--blue
      background-color: $railway-icon-bg
    &--gray
      background-color: $railway-icon-bg-gray
    &--green
      background-color: $railway-icon-bg-green
  &__link
    border-bottom: 1px dashed $railway-link-border
    font: 700 0.563rem/0.75rem $main-font
    color: $railway-link-color
    transition: all .3s ease-out
    &:hover,
    &:focus
      text-decoration: none
      color: $railway-link-color-hover
      border-bottom: 1px solid $railway-link-border-hover
.favorite
  background: none
  color: $favorite-icon-color
  cursor: pointer
  &:active
    color: $favorite-icon-color-active
    opacity: .6
  &--active
    color: $favorite-icon-color-active
  &__icon
    font-weight: bold
    color: inherit
.compare
  background: none
  color: $compare-icon-color
  cursor: pointer
  &:active
    color: $compare-icon-color-active
    opacity: .6
  &--active
    color: $compare-icon-color-active
  &__icon
    font-weight: bold
    color: inherit
.show-all
  padding: 1rem 0
  text-align: center
  &__link
    position: relative
    display: inline-block
    border-bottom: 3px solid $show-all-link-border
    font: 900 0.813rem/1rem $main-font
    color: $show-all-link-color
    text-transform: uppercase
    transition: all .3s ease-out
    letter-spacing: 0.0625rem
    &:hover,
    &:focus
      border-bottom-color: $show-all-link-border-hover
      color: $show-all-link-color-hover
      text-decoration: none

    &--hidden
      display: none
  &__icon
    position: absolute
    top: 50%  
    transform: translateY(-50%)
    right: -2rem
    color: inherit
    font-weight: 900
    font-size: 1.75rem
+r(768)
  .category
    &__col
      &--map
        height: 44.38rem
        overflow-y: scroll
    &__layout
      &--list
        .product    
          display: flex
          flex-wrap: wrap
          justify-content: center
          align-items: center
          &__content
            flex: 0 0 50%
            max-width: 50%
          &__photo
            flex: 0 0 41.66667%
            max-width: 41.66667%
            max-height: none
          &__img
            position: relative
            height: auto
            max-width: none
            left: -25%
      &--map
  .product
    &__photo
      max-height: 8.25rem
  .tags
    &__quantity
      right: -0.875rem
  .show-all
    &__link
      font-size: 1.125rem
      line-height: 1.5rem
    &__icon
      font-size: 2.125rem
+r(992)
  .category
    padding: 6.25rem 0 1.563rem
    &__layout
      &--big
        .product
          &__content
            padding: 1.125rem 1.875rem 1.25rem
          &__photo
            max-height: 9.375rem
          &__name
            font-size: 1rem
            line-height: 1.125rem
          &__descr
            font-size: 0.688rem
            line-height: 0.8125rem
          &__btn
            font-size: 1.25rem
        .option
          &__name
            font-size: 0.688rem
            line-height: 0.8125rem
          &__value
            font-size: 0.688rem
            line-height: 0.8125rem
        .tags
          &__link
            font-size: 0.688rem
            line-height: 0.8125rem
          &__quantity
            width: 1rem
            height: 1rem
            right: -0.625rem
            font-size: 0.813rem
            line-height: 0.9375rem
        .railway
          font-size: 0.813rem
          line-height: 0.9375rem
          &__icon
            width: 1rem
            height: 1rem
            font-size: 0.688rem
            line-height: 0.8125rem
      &--map
        .product    
          display: flex
          flex-wrap: wrap
          justify-content: center
          align-items: center
          &__content
            padding: 0.625rem
            flex: 0 0 50%
            max-width: 50%
          &__photo
            flex: 0 0 41.66667%
            max-width: 41.66667%
            max-height: none
          &__img
            position: relative
            height: auto
            max-width: 160%
            left: -25%
          &__name
            padding: 0.125rem 0
            font-size: 0.75rem
            line-height: 0.875rem
          &__descr
            font-size: 0.5rem
            line-height: 0.625rem
          &__btn
            margin: 0 0.1875rem
            font-size: 1rem
            line-height: 1.125rem
        .option
          padding: 0.25rem 0
          &__item
            padding: 0.125rem 0
          &__name
            font-size: 0.5rem
            line-height: 0.625rem
          &__value
            font-size: 0.5rem
            line-height: 0.625rem
        .tags
          &__link
            font-size: 0.5rem
            line-height: 0.625rem
          &__quantity
            width: 0.688rem
            height: 0.688rem
            right: -0.875rem
            font-size: 0.5rem
            line-height: 0.625rem

        .railway
          font-size: 0.5625rem
          line-height: 0.6875rem
          &__icon
            width: 0.75rem
            height: 0.75rem
            font-size: 0.5625rem
            line-height: 0.6875rem



  .product
    &:hover
      box-shadow: 0 0 0.0625rem 0.125rem $product-border-hover, 0 0 1rem 0.0625rem rgba($product-border-hover, .25)
  .show-all
    padding: 3.125rem 0 1.125rem
    &__link
      padding-bottom: 0.5rem
+r(1344)
  .category
    padding: 0.625rem 0
    &__layout
      &--big
        .product
          &__content
            padding: 1.75rem 2.5rem 1.875rem
          &__photo
            max-height: 12.5rem
          &__name
            font-size: 1.25rem
            line-height: 1.375rem
          &__descr
            font-size: 0.875rem
            line-height: 1rem
          &__btn
            font-size: 1.625rem
        .option
          &__name
            font-size: 0.875rem
            line-height: 1rem
          &__value
            font-size: 0.875rem
            line-height: 1rem
        .tags
          &__link
            font-size: 0.875rem
            line-height: 1rem
          &__quantity
            width: 1.313rem
            height: 1.313rem
            right: 0
            font-size: 0.875rem
            line-height: 1rem
        .railway
          font-size: 1rem
          line-height: 1.125rem
          &__icon
            width: 1.313rem
            height: 1.313rem
            font-size: 0.875rem
            line-height: 1rem
  .product
    margin: 0.75rem 0
    &__photo
      max-height: 10.63rem
    &__name
      font-size: 1.125rem
      line-height: 1.25rem
    &__descr
      font-size: 0.75rem
      line-height: 0.875rem
    &__btn
      margin: 0 0.5rem
      font-size: 21px
  .option
    padding: 1.25rem 0 1.875rem
    &__item
      padding: 0.5rem 0
    &__name
      font-size: 0.75rem
      line-height: 0.875rem
    &__value
      font-size: 0.75rem
      line-height: 0.875rem
  .tags
    &__link
      font-size: 0.75rem
      line-height: 0.875rem
    &__quantity
      width: 1.125rem
      height: 1.125rem
      right: -0.3125rem
      font-size: 0.75rem
      line-height: 0.875rem
  .railway
    font-size: 1rem
    line-height: 1.125rem
    &__icon
      width: 1.125rem
      height: 1.125rem
      font-size: 0.75rem
      line-height: 0.875rem
    &__link
      font-size: 0.875rem
      line-height: 1.25rem
  .show-all
    &__link
      font-size: 1.5rem
      line-height: 1.625rem
    &__icon
      right: -2.875rem
      top: auto
      bottom: 0
      transform: translateY(0)
      font-size: 2.5rem
+comment('section details style')
.details
  padding: 1.563rem 0 2.688rem
  background-color: $details-bg
  &__container
    background-color: $details-container-bg
    padding: 
      top: 1.625rem
      bottom: 1.625rem
    box-shadow: 0 3px 15px rgba(0,0,0,.1)
  &__heading
    font: 700 1.25rem/1.375rem $main-font
    text-transform: none
    text-align: left
    letter-spacing: 0.125rem
  &__text
    font: 400 0.875rem/1rem $main-font
    text-align: justify
    letter-spacing: 0.0625rem
  &__link-group
    text-align: right
  &__link
    font: 300 0.875rem/1rem $main-font
    color: $details-link
    text-decoration: underline
    letter-spacing: 0.0625rem
    transition: all .3s ease-out
    &:hover,
    &:focus
      color: $details-link-hover
+r(768)
  .details
    &__container
      padding: 
        top: 2.5rem
        bottom: 2.5rem
    &__heading
      margin: 0.625rem 0 1.375rem
+r(992)
  .details
    padding: 1.75rem 0 3.125em
    &__text
      font-size: 1rem
      line-height: 1.125rem
    &__link
        font-size: 1rem
        line-height: 1.125rem
+r(1344)
  .details
    &__heading
      margin: 0.625rem 0 1.875rem
      font-size: 1.875rem
      line-height: 2rem
    &__text
      font-size: 1.188rem
      line-height: 1.313rem
    &__link
        font-size: 1.188rem
        line-height: 1.313rem