+comment("product page style")

+comment("section intro style")
.intro
  &__street
    margin: 0
    padding: 1rem 0
.street
  display: flex
  align-items: flex-end
  font: 500 0.688rem/0.75rem $main-font
  color: $street-color
  &__icon
    display: inline-flex
    margin-right: 0.5rem
    font-size: 1.5rem
    color: $street-icon-color
.choice
  &__btn
    max-width: 18.563rem
.btn
  &--green
    background-color: $btn-green-bg
    border-radius: 0
    width: 100%
    font: 700 0.625rem/0.875rem $main-font
    color: $btn-green-color
    text-transform: uppercase
    white-space: normal
    cursor: pointer
    transition: all .3s ease-out
    &:hover,
    &:focus
      background-color: $btn-green-bg-hover
      color: $btn-green-color-hover
      box-shadow: $btn-green-box-shadow-hover
+r(768)
  .btn
   &--green
     padding: 1rem 1.25rem
     font-size: 0.75rem
     line-height: 0.875rem
+r(992)
  .street
    font-size: 0.75rem
    line-height: 0.875rem
  .btn
   &--green
     padding: 1.25rem 1.875rem
     font-size: 0.875rem
     line-height: 1rem
+comment("section nav content style")
.navbar
  &--content
    background-color: $navbar-content-bg
    box-shadow: $navbar-content-box-shadow
.navbar-light 
  .navbar-toggler
    &--content 
      margin-bottom: 1rem
      padding: 0.5rem 2rem
      width: 100%
      background: $navbar-toggler-content-bgi
      border: 0.063rem solid $navbar-toggler-content-border
      border-radius: 0
      box-shadow: $navbar-toggler-content-shadow
      font: 700 0.625rem/0.75rem $main-font
      color: $navbar-toggler-content-color
      text-transform: uppercase
      &:hover,
      &:focus
        color: $navbar-toggler-content-color
  .navbar-nav
    .nav-link
      &--content
        padding: 0.5rem 1rem
        font: 400 0.75rem/0.875rem $main-font
        transition: all .3s ease-out
        &:hover,
        &:focus
          color: $nav-content-link-color-hover
          background: $nav-content-link-bg-hover
.navbar-toggler-icon
  &--content
    margin-top: -0.1875rem
    margin-left: 0.5rem
.nav-fill
  align-content: stretch
  align-items: center
  justify-content: center
  .nav-item
    width: auto
+r(768)
  .navbar-light 
    .navbar-nav
      .nav-link
        &--content
          font-size: 0.5rem
          line-height: 0.75rem
          color: $nav-content-link-color
+r(992)
  
  .navbar-light 
    .navbar-nav
      .nav-link
        &--content
          font-size: 0.75rem
          line-height: 0.875rem
+r(1344)
  .navbar-light 
    .navbar-nav
      .nav-link
        &--content
          font-size: 0.938rem
          line-height: 1.063rem
+comment("section info style")
+r(992)
  .option
    &__name
      &--dark
        font-size: 0.875rem
        line-height: 1rem
+comment("section product-thumb style")
.product-thumb
  padding: 0.625rem 0
  background-color: $product-thumb-bg
  &__item
    margin: 0.625rem 0
    background-color: $product-thumb-item-bg
+comment("section info style")
.h3-heading
  margin: 0
  font: 700 0.813rem/0.9375rem $main-font
  color: $h3-heading
.info
  padding: 1.25rem
  &__link
    margin-left: 1rem
  &__option
    padding: 0.75rem 0 0
.option
  &__name
    &--info
      font-size: 0.625rem
      line-height: 0.75rem
  &__value
    &--info
      font-size: 0.625rem
      line-height: 0.75rem
+r(768)
  .h3-heading
    font-size: 1rem
    line-height: 1.125rem
  .info
    padding: 2.813rem
    &__option
      padding: 1.875rem 0
  .option
    &__name
      &--info
        font-size: 0.75rem
        line-height: 0.875rem
    &__value
      &--info
        font-size: 0.75rem
        line-height: 0.875rem
+r(992)
  .option
    &__name
      &--info
        font-size: 0.75rem
        line-height: 0.875rem
    &__value
      &--info
        font-size: 0.75rem
        line-height: 0.875rem
+r(1344)
  .option
    &__name
      &--info
        font-size: 0.875rem
        line-height: 1rem
    &__value
      &--info
        font-size: 1rem
        line-height: 1.125rem
+comment("section personal style")
.personal
  padding: 1.25rem
  align-items: center
  overflow: hidden
  &__content
    display: flex
    justify-content: between
    align-items: center
    margin: 0 -0.5rem
  &__item
    flex-basis: 0
    flex-grow: 1
    max-width: 100%
    padding: 0 0.5rem
    &--left
      flex: 0 0 37.5%
      max-width: 37.5%
  &__heading
    position: relative
    padding-bottom: 0.25rem
    &:before
      content: ''
      position: absolute
      display: block
      height: 0.188rem
      left: 0
      right: -10rem
      top: 100%
      background-color: #555
  &__name
    padding-top: 1rem
    font: 500 0.875rem/1rem $main-font
    color: $personal-name-color
  &__post
    padding-top: 1rem
    font: 500 0.625rem/0.75rem $main-font
    color: $personal-post-color
  &__group
    padding-top: 1rem
+r(768)
  .personal
    &__content
      align-items: flex-end
    &__heading
      font-size: 1rem
      line-height: 1.125rem
    &__name
      font-size: 1rem
      line-height: 1.125rem
    &__post
      font-size: 0.75rem
      line-height: 0.875rem
+r(1344)
  .personal
    padding: 2.5rem 3.125rem 1.25rem
    &__content
      align-items: center
    &__name
      padding-top: 2rem
      font-size: 1.375rem
      line-height: 1.5rem
    &__post
      padding-top: 1.25rem
      font-size: 0.938rem
      line-height: 1.063rem
+comment("section category style")
.slider
  &__img
    margin: 0 auto
+comment("section platform style")
.platform
  &__heading
  &__table
    th,
    td
      text-align: center