extends base/_layout.pug
block variables

block styles
  // Select2 Bootstrap Theme CSS
  link(rel='stylesheet' href='css/select2.css')
  // Bootstrap DateTimePicker CSS
  link(rel="stylesheet" href="css/bootstrap-datepicker.standalone.css")
block scripts
  // Select2 JavaScript
  script(src='js/select2.js')
  // Bootstrap Date TimePicker JavaScript
  script(src='js/bootstrap-datepicker.js')
  script(src='js/locales/bootstrap-datepicker.ru.js')
  // jQuery tags input JavaScript
  script(src='js/jquery.tagsinput.js')


block header
  include components/_nav.pug
  include partials/_header-inside.pug
block content
  include partials/_bid.pug
block footer
  include partials/_footer.pug
block modal
  include partials/_modal.pug