extends base/_layout.pug
block variables

block styles

block scripts

block header
  include partials/_header.pug

block content
  include partials/_work.pug
  include partials/_service.pug
  include partials/_process.pug
  include partials/_shop.pug
  include partials/_presentation.pug
  include partials/_about.pug
block footer
  include partials/_footer.pug
block modal
  include partials/_modal.pug
